
<section class="addtraining-wrap">
  <section class="new-training">
    <md-card>
      <md-card-content>
        <section class="header-add">
          <md-select placeholder="Nome do Treino" ng-model="plan" style="min-width:250px;">
            <md-option ng-repeat="plan in plans" value="{{plan}}">{{plan}}</md-option>
          </md-select>
        </section>
        <section class="options-add">
          <!-- ng-md-icon(icon="launch" style="fill:white"  size="22" ng-click="true")-->
          <!-- ng-md-icon(icon="expand_more" style="fill:white"  size="27" ng-click="true")-->
          <md-button ng-click="importTraining($event);" class="md-raised sec">Importar Treino</md-button>
          <md-button ng-click="insertTraining($event);" class="md-raised md-primary">Inserir Exercício</md-button>
        </section>
        <section class="content-add">
          <sections sv-root="" sv-part="exercicios" class="list-trainings">
            <md-content scroll-glue="scroll.glued" class="scroll-addtraining">
              <md-subheader></md-subheader>
              <!-- ul-->
              <!-- 	// li(ng-repeat="exercicio in exercicios" sv-element="opts" ng-style="estilo" ng-init="estilo=$index==1 ? {'margin-top':'1em'} : {}" ng-class="{'exerc-select': $index==index}")-->
              <!-- 	li(ng-repeat="exercicio in exercicios" sv-element="opts" ng-class="{'exerc-select': $index==index}")-->
              <!-- 		ds-exercise(exercicio="exercicio")-->
              <ds-exercises exercicios="exercicios"> 
                <!-- ds-exercise(exercicio="exercicio")-->
                <!-- ds-exercise
                // section.volume
                // 	// span(ng-click="weight_add($event,exercicio,$index);") {{exercicio.serie}}x{{exercicio.repeticao}}
                // 	span {{exercicio.serie}}x{{exercicio.repeticao}}
                // section.delete
                // 	ng-md-icon(icon="close" ng-click="remove($index);" style="fill:black" size="20")
                -->
              </ds-exercises>
            </md-content>
            <!-- section.background-wrap(ng-show="close_all" ng-click="close();")-->
            <!-- section.weight-add(style="top:{{position.y - 50}}px;left:{{position.x - 48}}px;")-->
            <!-- 	section.weight-content-->
            <!-- 		section.plus(ng-click="plus_weight();")-->
            <!-- 			span-->
            <!-- 				ng-md-icon(icon="keyboard_arrow_up" style="fill:black"  size="25")-->
            <!-- 		section.left(ng-class="{'border-red': alt=='serie'}" ng-click="toggle_volume();")   -->
            <!-- 			span {{exercicio_select.serie}}-->
            <!-- 		section.middle-->
            <!-- 			span :-->
            <!-- 		section.right(ng-class="{'border-red': alt=='repeticao'}" ng-click="toggle_volume();")  -->
            <!-- 			span {{exercicio_select.repeticao}}-->
            <!-- 		section.minus(ng-click="minus_weight();")-->
            <!-- 			span-->
            <!-- 				ng-md-icon(icon="expand_more" style="fill:black"  size="25")-->
          </sections>
          <section class="aside-info-training">
            <ds-info>
              <section class="ds-title"><span>Total de Exercícios</span></section>
              <section class="ds-content"><span>5</span></section>
            </ds-info>
            <ds-info>
              <section class="ds-title"><span>Volume do Treino</span></section>
              <section class="ds-content"><span>220.000 kg</span></section>
            </ds-info>
            <ds-info>
              <section class="ds-title"><span>Grupos Musculares Atingidos</span></section>
              <section class="ds-content"><span>Costa</span><span>Perna</span><span>Perna</span><span>Perna</span><span>Costa</span><span>Costa</span><span>Costa</span><span>Perna</span><span>Ombro</span></section>
            </ds-info>
          </section>
        </section>
      </md-card-content>
    </md-card>
  </section>
</section>