
<section class="addtraining">
  <md-content>
    <md-card>
      <md-card-content>
        <section class="tabs">
          <md-tabs md-dynamic-height="" md-border-bottom="">
            <md-tab label="Tríceps">
              <md-content class="md-padding">
                <!-- md-chips(ng-model="true", readonly="true")-->
                <!-- 	md-chip-template-->
                <!-- 		strong Supino Reto-->
                <!-- 		em Peito-->
              </md-content>
            </md-tab>
            <md-tab label="Bíceps">
              <md-content class="md-paddin"></md-content>
              <md-chips ng-model="fruitNames" readonly="readonly" md-on-append="newVeg($chip)">
                <md-chip-template><span><strong>{{$chip.name}}</strong><em>({{$chip.type}})</em></span></md-chip-template>
              </md-chips>
            </md-tab>
            <md-tab label="Ombro">
              <md-content class="md-paddin">
                <md-chips>
                  <md-chip ng-click="alert('teste');">Ombro Lateral</md-chip>
                  <md-chip>Ombro Frontal</md-chip>
                  <md-chip>Ombro Lateral</md-chip>
                  <md-chip>Ombro Lateral</md-chip>
                </md-chips>
                <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus</p>
              </md-content>
            </md-tab>
            <md-tab label="Costas">
              <md-content class="md-paddin">
                <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus</p>
              </md-content>
            </md-tab>
            <md-tab label="Peito">
              <md-content class="md-paddin">
                <md-chips>
                  <button md-chip-remove="">DEL</button>
                </md-chips>
                <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus</p>
              </md-content>
            </md-tab>
            <md-tab label="Abdominal">
              <md-content class="md-paddin">
                <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus</p>
              </md-content>
            </md-tab>
            <md-tab label="Perna">
              <md-content class="md-paddin">
                <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus</p>
              </md-content>
            </md-tab>
            <md-tab label="Glúteo">
              <md-content class="md-paddin">
                <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus</p>
              </md-content>
            </md-tab>
            <md-tab label="Atividade">
              <md-content class="md-paddin">
                <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus</p>
              </md-content>
            </md-tab>
          </md-tabs>
        </section>
        <section class="new-training">
          <section class="header-add">
            <md-select placeholder="Treino" ng-model="plan" style="min-width:250px;">
              <md-option ng-repeat="plan in plans" value="{{plan}}">{{plan}}</md-option>
            </md-select>
          </section>
          <section class="options-add">
            <!-- ng-md-icon(icon="launch" style="fill:white"  size="22" ng-click="true")-->
            <!-- ng-md-icon(icon="expand_more" style="fill:white"  size="27" ng-click="true")-->
          </section>
          <section class="content-add">
            <md-chips ng-model="fruitNames2" readonly="readonly2"></md-chips>
          </section>
        </section>
      </md-card-content>
    </md-card>
  </md-content>
  <section class="user-add">
    <section class="menu-add">
      <section class="user-img-add"><img ng-click="coreEvents.toggle_menu();" holder="holder.js/80x80?auto=yes&amp;theme=graye&amp;text=BRU" class="img-responsive"/></section>
      <h5 class="user-name-add">Bruno</h5><span class="breadcrumb-add">
        <ng-md-icon icon="place" style="fill:grey" size="20" ng-click="true"></ng-md-icon><span ncy-breadcrumb-last="">&nbsp;{{getStatesChain}}</span></span>
      <section class="actions-add"><a ui-sref-active="sdd" ui-sref="core.user.training">
          <md-button>Cancelar</md-button></a>
        <md-button ng-click="true;" id="action" class="md-raised md-primary">Salvar Treino</md-button>
      </section>
    </section>
  </section>
</section>