section.addtraining
	section.user-add
		section.menu-add
			section.user-img-add
				img(class="img-responsive" ng-click="coreEvents.toggle_menu();" holder='holder.js/80x80?auto=yes&theme=sky&text=BRU')
			h5.user-name-add Bruno
			span.breadcrumb-add
				ng-md-icon(icon="place" style="fill:grey"  size="20" ng-click="true")
				span(ncy-breadcrumb-last="") &nbsp;{{getStatesChain}}
			section.actions-add
				a(ui-sref-active="sdd" ui-sref="core.user.training")
					md-button Cancelar
				md-button(class="md-raised md-primary"  ng-click="true;" id="action") Salvar Treino

	md-content
		md-card
			md-card-content
				section.tabs
							md-tabs(md-dynamic-height="", md-border-bottom="")
								md-tab(label="Tríceps")
									md-content.md-padding
										// md-chips(ng-model="true", readonly="true")
										// 	md-chip-template
										// 		strong Supino Reto
										// 		em Peito
										md-chips
											md-chip(ng-click="teste();") Ombro Lateral
											md-chip Triceps Testa
											md-chip Tríceps Barra
											md-chip Tríceps Barra
											md-chip Tríceps Barra
											md-chip Tríceps Barra
											md-chip Tríceps Corda
											md-chip Tríceps Supinado
											md-chip Tríceps V
											md-chip Tríceps Corda
											md-chip Tríceps Supinado
											md-chip Tríceps V
											md-chip Tríceps Corda
											md-chip Tríceps Supinado
											md-chip Tríceps V
											md-chip Tríceps Corda
											md-chip Tríceps Supinado
											md-chip Tríceps V
											md-chip Tríceps Alter
											md-chip Ombro Lateral
								md-tab(label="Bíceps")
									md-content.md-paddin
									md-chips(ng-model="fruitNames" readonly="readonly" md-on-append="newVeg($chip)")
										md-chip-template
											span
												strong {{$chip.name}}
												em ({{$chip.type}})
								md-tab(label="Ombro")
									md-content.md-paddin
										md-chips
											md-chip(ng-click="teste();") Ombro Lateral
											md-chip Ombro Lateral
											md-chip Ombro Lateral
											md-chip Ombro Lateral
											md-chip Ombro Lateral
											md-chip Ombro Lateral
											md-chip Ombro Lateral
											md-chip Ombro Lateral
											md-chip Ombro Lateral
											md-chip Ombro Lateral
											md-chip Ombro Lateral
											md-chip Ombro Lateral
											md-chip Ombro Lateral
											md-chip Ombro Lateral
											md-chip Ombro Lateral
											md-chip Ombro Lateral
											md-chip Ombro Lateral
											md-chip Ombro Lateral
											md-chip Ombro Lateral
											md-chip Ombro Lateral
											md-chip Ombro Lateral
											md-chip Ombro Lateral
											md-chip Ombro Lateral
								md-tab(label="Costas")
									md-content.md-paddin
										p Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus
								md-tab(label="Peito")
									md-content.md-paddin
										md-chips
											button(md-chip-remove="") DEL
										p Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus
								md-tab(label="Abdominal")
									md-content.md-paddin
										p Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus
								md-tab(label="Perna")
									md-content.md-paddin
										p Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus
								md-tab(label="Glúteo")
									md-content.md-paddin
										p Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus
								md-tab(label="Atividade")
									md-content.md-paddin
										p Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus
				section.new-training
					section.header-add
						md-select(placeholder='Treino', ng-model='plan' style="min-width:250px;")
							md-option(ng-repeat='plan in plans', value='{{plan}}') {{plan}}
					section.options-add
						// ng-md-icon(icon="launch" style="fill:white"  size="22" ng-click="true")
						// ng-md-icon(icon="expand_more" style="fill:white"  size="27" ng-click="true")
						md-button(class="md-raised"  ng-click="importTraining($event);") Importar Treino
					section.content-add
							md-chips(ng-model="fruitNames2", readonly="readonly2")

