
<section class="addtraining">
  <section class="user-add">
    <section class="menu-add">
      <section class="user-img-add"><img ng-click="coreEvents.toggle_menu();" holder="holder.js/80x80?auto=yes&amp;theme=sky&amp;text=BRU" class="img-responsive"/></section>
      <h5 class="user-name-add">Bruno</h5><span class="breadcrumb-add">
        <ng-md-icon icon="place" style="fill:grey" size="20" ng-click="true"></ng-md-icon><span ncy-breadcrumb-last="">&nbsp;{{getStatesChain}}</span></span>
      <section class="actions-add"><a ui-sref-active="sdd" ui-sref="core.user.listTraining">
          <md-button>Cancelar</md-button></a>
        <md-button ng-click="true;" id="action" class="md-raised md-primary">Salvar Treino</md-button>
      </section>
    </section>
  </section>
  <md-content>
    <md-card>
      <md-card-content>
        <section class="tabs">
          <md-tabs md-dynamic-height="true" md-border-bottom="false">
            <md-tab label="Geral">
              <md-content class="md-paddin"></md-content>
              <section class="autocompletedemoCustomTemplate">
                <md-autocomplete ng-disabled="isDisabled" md-no-cache="noCache" md-selected-item="selectedItem" md-search-text-change="searchTextChange(searchText)" md-search-text="searchText" md-selected-item-change="selectedItemChange(item)" md-items="item in querySearch(searchText)" md-item-text="item.display" md-min-length="0" placeholder="Digite aqui o nome do exercício que deseja inserir" md-menu-class="autocomplete-custom-template">
                  <md-item-template><span class="item-title">
                      <md-icon md-svg-icon="img/icons/octicon-repo.svg"></md-icon><span> {{item.name}} </span></span><span class="item-metadata"><span class="item-metastat"><strong>{{item.watchers}}</strong>watchers</span><span class="item-metastat"><strong>{{item.forks}}</strong></span></span></md-item-template>
                </md-autocomplete>
              </section>
            </md-tab>
            <md-tab label="Tríceps">
              <md-content class="md-padding">
                <!-- md-chips(ng-model="true", readonly="true")-->
                <!-- 	md-chip-template-->
                <!-- 		strong Supino Reto-->
                <!-- 		em Peito-->
                <md-chips>
                  <md-chip ng-click="teste();">Ombro Lateral</md-chip>
                  <md-chip>Triceps Testa</md-chip>
                  <md-chip>Tríceps Barra</md-chip>
                  <md-chip>Tríceps Barra</md-chip>
                  <md-chip>Tríceps Barra</md-chip>
                  <md-chip>Tríceps Barra</md-chip>
                  <md-chip>Tríceps Corda</md-chip>
                  <md-chip>Tríceps Supinado</md-chip>
                  <md-chip>Tríceps V</md-chip>
                  <md-chip>Tríceps Corda</md-chip>
                  <md-chip>Tríceps Supinado</md-chip>
                  <md-chip>Tríceps V</md-chip>
                  <md-chip>Tríceps Corda</md-chip>
                  <md-chip>Tríceps Supinado</md-chip>
                  <md-chip>Tríceps V</md-chip>
                  <md-chip>Tríceps Corda</md-chip>
                  <md-chip>Tríceps Supinado</md-chip>
                  <md-chip>Tríceps V</md-chip>
                  <md-chip>Tríceps Alter</md-chip>
                  <md-chip>Ombro Lateral</md-chip>
                </md-chips>
              </md-content>
            </md-tab>
            <md-tab label="Bíceps">
              <md-content class="md-paddin"></md-content>
              <!-- md-chips(ng-model="fruitNames" readonly="readonly" md-on-append="newVeg($chip)")-->
              <!-- 	md-chip-template-->
              <!-- 		span-->
              <!-- 			strong {{$chip.name}}-->
              <!-- 			em ({{$chip.type}})-->
            </md-tab>
            <md-tab label="Ombro">
              <md-content class="md-paddin">
                <md-chips>
                  <md-chip ng-click="teste();">Ombro Lateral</md-chip>
                  <md-chip>Ombro Lateral</md-chip>
                  <md-chip>Ombro Lateral</md-chip>
                  <md-chip>Ombro Lateral</md-chip>
                  <md-chip>Ombro Lateral</md-chip>
                  <md-chip>Ombro Lateral</md-chip>
                  <md-chip>Ombro Lateral</md-chip>
                  <md-chip>Ombro Lateral</md-chip>
                  <md-chip>Ombro Lateral</md-chip>
                  <md-chip>Ombro Lateral</md-chip>
                  <md-chip>Ombro Lateral</md-chip>
                  <md-chip>Ombro Lateral</md-chip>
                  <md-chip>Ombro Lateral</md-chip>
                  <md-chip>Ombro Lateral</md-chip>
                  <md-chip>Ombro Lateral</md-chip>
                  <md-chip>Ombro Lateral</md-chip>
                  <md-chip>Ombro Lateral</md-chip>
                  <md-chip>Ombro Lateral</md-chip>
                  <md-chip>Ombro Lateral</md-chip>
                  <md-chip>Ombro Lateral</md-chip>
                  <md-chip>Ombro Lateral</md-chip>
                  <md-chip>Ombro Lateral</md-chip>
                  <md-chip>Ombro Lateral</md-chip>
                </md-chips>
              </md-content>
            </md-tab>
            <md-tab label="Costas">
              <md-content class="md-paddin">
                <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus</p>
              </md-content>
            </md-tab>
            <md-tab label="Peito">
              <md-content class="md-paddin">
                <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus</p>
              </md-content>
            </md-tab>
            <md-tab label="Abdominal">
              <md-content class="md-paddin">
                <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus</p>
              </md-content>
            </md-tab>
            <md-tab label="Perna">
              <md-content class="md-paddin">
                <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus</p>
              </md-content>
            </md-tab>
            <md-tab label="Glúteo">
              <md-content class="md-paddin">
                <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus</p>
              </md-content>
            </md-tab>
            <md-tab label="Atividade">
              <md-content class="md-paddin">
                <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus</p>
              </md-content>
            </md-tab>
          </md-tabs>
        </section>
        <section class="new-training">
          <section class="header-add">
            <md-select placeholder="Treino" ng-model="plan" style="min-width:250px;">
              <md-option ng-repeat="plan in plans" value="{{plan}}">{{plan}}</md-option>
            </md-select>
          </section>
          <section class="options-add">
            <!-- ng-md-icon(icon="launch" style="fill:white"  size="22" ng-click="true")-->
            <!-- ng-md-icon(icon="expand_more" style="fill:white"  size="27" ng-click="true")-->
            <md-button ng-click="importTraining($event);" class="md-raised">Importar Treino</md-button>
          </section>
          <section sv-root="" sv-part="exercicios" class="content-add">
            <!-- .sortable-container.grid(sv-root="", sv-part="data.items4")-->
            <!-- 	.well.grid(ng-repeat="item in [1,2,3,4,5,6,7,8] track by $index", sv-element="opts")-->
            <!-- 		| {{item}}-->
            <!-- 		span(sv-handle="") handle-->
            <ul ng-repeat="exercicio in exercicios" sv-element="opts">
              <li> 
                <section sv-handle="" class="drag">
                  <ng-md-icon icon="open_with" style="fill:black" size="20"></ng-md-icon>
                </section>
                <section class="exerc"><span>{{exercicio.nome}}</span></section>
                <section class="volume"><span ng-click="weight_add($event);">3x12</span></section>
                <section class="delete">
                  <ng-md-icon icon="close" style="fill:black" size="20"></ng-md-icon>
                </section>
              </li>
            </ul>
          </section>
          <section style="top:{{position.y - 50}}px;left:{{position.x - 48}}px;" class="weight-add">
            <section class="weight-content">
              <section class="plus"><span>
                  <ng-md-icon icon="keyboard_arrow_up" style="fill:black" size="20"></ng-md-icon></span></section>
              <section class="left"><span>3</span></section>
              <section class="middle"> <span>:</span></section>
              <section class="right"> <span>10</span></section>
              <section class="minus"> <span>
                  <ng-md-icon icon="expand_more" style="fill:black" size="20"></ng-md-icon></span></section>
            </section>
          </section>
        </section>
      </md-card-content>
    </md-card>
  </md-content>
</section>