
<section class="collection-wrap">
  <ds-plan>
    <section class="ds-plan-title">
      <h4>Treino Avançado</h4>
    </section>
    <section class="ds-plan-content">
      <md-content>
        <md-subheader></md-subheader>
        <ds-training name="A" disable="true"></ds-training>
        <ds-training name="B"></ds-training>
        <ds-training name="A" disable="true"></ds-training>
        <ds-training name="B"></ds-training>
        <ds-training name="A" disable="true"></ds-training>
        <ds-training name="B"></ds-training>
        <ds-training name="A" disable="true"></ds-training>
        <ds-training name="B"></ds-training>
        <ds-training name="A" disable="true"></ds-training>
        <ds-training name="B"></ds-training>
        <ds-training name="A" disable="true"></ds-training>
        <ds-training name="B"></ds-training>
        <ds-training name="C"></ds-training>
        <ds-training name="C"></ds-training>
        <ds-training name="C"></ds-training>
        <ds-training name="C"></ds-training>
        <ds-training name="C"></ds-training>
        <ds-training name="C"></ds-training>
      </md-content>
    </section>
    <section class="ds-plan-footer">
      <!-- P.plan-on-->
      <!-- 	ng-md-icon(icon="lens" style="fill:LawnGreen"  size="22")-->
      <!-- 	| &nbsp;Em Andamento-->
    </section>
    <section class="ds-plan-actions">
      <md-button class="md-raised md-primary">Inserir Treino</md-button>
    </section>
  </ds-plan>
  <ds-plan>
    <section class="ds-plan-title">
      <h4>Treino Avançado</h4>
    </section>
    <section class="ds-plan-content">
      <md-content>
        <md-subheader></md-subheader>
        <ds-training name="A" disable="true"></ds-training>
        <ds-training name="B"></ds-training>
        <ds-training name="A" disable="true"></ds-training>
        <ds-training name="B"></ds-training>
        <ds-training name="A" disable="true"></ds-training>
        <ds-training name="B"></ds-training>
        <ds-training name="A" disable="true"></ds-training>
        <ds-training name="B"></ds-training>
        <ds-training name="A" disable="true"></ds-training>
        <ds-training name="B"></ds-training>
        <ds-training name="A" disable="true"></ds-training>
        <ds-training name="B"></ds-training>
        <ds-training name="C"></ds-training>
        <ds-training name="C"></ds-training>
        <ds-training name="C"></ds-training>
        <ds-training name="C"></ds-training>
        <ds-training name="C"></ds-training>
        <ds-training name="C"></ds-training>
      </md-content>
    </section>
    <section class="ds-plan-footer">
      <!-- P.plan-on-->
      <!-- 	ng-md-icon(icon="lens" style="fill:LawnGreen"  size="22")-->
      <!-- 	| &nbsp;Em Andamento-->
    </section>
    <section class="ds-plan-actions">
      <md-button class="md-raised md-primary">Inserir Treino</md-button>
    </section>
  </ds-plan>
  <ds-plan>
    <section class="ds-plan-title">
      <h4>Emagrecimento</h4>
    </section>
    <section class="ds-plan-content">
      <md-content>
        <md-subheader></md-subheader>
        <ds-training name="B"></ds-training>
        <ds-training name="A" disable="true"></ds-training>
        <ds-training name="C"></ds-training>
      </md-content>
    </section>
    <section class="ds-plan-footer">
      <!-- P.plan-on-->
      <!-- 	ng-md-icon(icon="lens" style="fill:LawnGreen"  size="22")-->
      <!-- 	| &nbsp;Em Andamento-->
    </section>
    <section class="ds-plan-actions">
      <md-button class="md-raised md-primary">Inserir Treino</md-button>
    </section>
  </ds-plan>
</section>