section.collection-wrap
	ds-plan
		section.ds-plan-title
			h4 Treino Avançado
		section.ds-plan-content
			md-content
				md-subheader
				ds-training(name="A" disable="true")
				ds-training(name="B")
				ds-training(name="A" disable="true")
				ds-training(name="B")
				ds-training(name="A" disable="true")
				ds-training(name="B")
				ds-training(name="A" disable="true")
				ds-training(name="B")
				ds-training(name="A" disable="true")
				ds-training(name="B")
				ds-training(name="A" disable="true")
				ds-training(name="B")
				ds-training(name="C")
				ds-training(name="C")
				ds-training(name="C")
				ds-training(name="C")
				ds-training(name="C")
				ds-training(name="C")
		section.ds-plan-footer
			// P.plan-on
			// 	ng-md-icon(icon="lens" style="fill:LawnGreen"  size="22")
			// 	| &nbsp;Em Andamento
		section.ds-plan-actions
			md-button(class="md-raised md-primary") Inserir Treino
	ds-plan
		section.ds-plan-title
			h4 Treino Avançado
		section.ds-plan-content
			md-content
				md-subheader
				ds-training(name="A" disable="true")
				ds-training(name="B")
				ds-training(name="A" disable="true")
				ds-training(name="B")
				ds-training(name="A" disable="true")
				ds-training(name="B")
				ds-training(name="A" disable="true")
				ds-training(name="B")
				ds-training(name="A" disable="true")
				ds-training(name="B")
				ds-training(name="A" disable="true")
				ds-training(name="B")
				ds-training(name="C")
				ds-training(name="C")
				ds-training(name="C")
				ds-training(name="C")
				ds-training(name="C")
				ds-training(name="C")
		section.ds-plan-footer
			// P.plan-on
			// 	ng-md-icon(icon="lens" style="fill:LawnGreen"  size="22")
			// 	| &nbsp;Em Andamento
		section.ds-plan-actions
			md-button(class="md-raised md-primary") Inserir Treino
	
	ds-plan
		section.ds-plan-title
			h4 Emagrecimento
		section.ds-plan-content
			md-content
				md-subheader
				ds-training(name="B")
				ds-training(name="A" disable="true")
				ds-training(name="C")
		section.ds-plan-footer
			// P.plan-on
			// 	ng-md-icon(icon="lens" style="fill:LawnGreen"  size="22")
			// 	| &nbsp;Em Andamento
		section.ds-plan-actions
			md-button(class="md-raised md-primary") Inserir Treino

