
<md-dialog flex="90" aria-label="insertir treino">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h1>Inserir Exercício</h1><span flex=""></span>
      <md-button ng-click="answer('not applicable')">Cancelar</md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <section class="taining-dialog-content">
      <section class="way-training">
        <md-select placeholder="Método de Treino" ng-model="plan" style="min-width:250px;">
          <md-option ng-repeat="plan in plans" value="{{plan}}">{{plan}}</md-option>
        </md-select>
      </section>
      <section class="way-add">
        <ng-md-icon icon="add" style="fill:white" size="25"></ng-md-icon>
      </section>
      <section class="slider-wrap-insert">
        <section class="slider-content-insert">
          <div layout="row">
            <div flex="20" layout="" layout-align="center center"><span class="md-body-1">Série&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
            <md-slider id="blue-slider" flex="" ng-model="serie" min="1" max="8" aria-label="blue" class="md-primary"></md-slider>
            <div flex="10" layout="" layout-align="center center">
              <input type="number" ng-model="serie" aria-label="blue" aria-controls="blue-slider"/>
            </div>
          </div>
        </section>
        <section class="slider-title-insert"><span>Séries</span></section>
        <section class="slider-content-insert">
          <div layout="row">
            <div flex="20" layout="" layout-align="center center"><span class="md-body-1">Descanso</span></div>
            <md-slider id="blue-slider" flex="" ng-model="descanso" min="0" max="180" aria-label="blue" class="md-primary"></md-slider>
            <div flex="10" layout="" layout-align="center center">
              <input type="number" ng-model="descanso" aria-label="blue" aria-controls="blue-slider"/>
            </div>
          </div>
        </section>
        <section class="slider-title-insert"><span>Segundos</span></section>
      </section>
      <section class="insert-exercise-wrap">
        <section class="insert-exercise-header">
          <section class="insert-exercise-action">
            <md-button class="md-raised md-primary">
              <ng-md-icon icon="exposure_plus_1" aria-label="exercicio" style="fill:white" size="28"></ng-md-icon>
            </md-button>
          </section>
          <section class="insert-exercise-bar">
            <md-input-container md-no-float="">
              <input placeholder="Pesquisar Exercício"/>
            </md-input-container>
          </section>
        </section>
        <section class="insert-exercise-content">
          <section class="exercise-adds"><span>Supino Reto</span><span>Polia</span></section>
          <section class="exercise-view"><span>Pre Visualização</span></section>
        </section>
      </section>
      <section class="insert-details">
        <md-input-container flex="">
          <label>Observação do Exercício</label>
          <input ng-model="oberservacao" type="text"/>
        </md-input-container>
      </section>
    </section>
  </md-dialog-content>
  <div layout="row" class="md-actions"><span flex=""></span>
    <md-button ng-click="answer('not useful')" class="md-primary">Cancelar</md-button>
    <md-button ng-click="answer('useful')" class="md-primary">Inserir Exercício</md-button>
  </div>
</md-dialog>