md-dialog(flex="90" aria-label="insertir treino")
	md-toolbar
		.md-toolbar-tools
			h1 Inserir Exercício
			span(flex="")
			md-button(ng-click="answer('not applicable')") Cancelar
	md-dialog-content
		section.taining-dialog-content
			section.way-training
				md-select(placeholder='Método de Treino', ng-model='plan' style="min-width:250px;")
					md-option(ng-repeat='plan in plans', value='{{plan}}') {{plan}}
			section.way-add
					ng-md-icon(icon="add" style="fill:white"  size="25")
			section.slider-wrap-insert
				section.slider-content-insert
					div(layout="row")
						div(flex="20", layout="", layout-align="center center")
							span.md-body-1 Série&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						md-slider#blue-slider.md-primary(flex="", ng-model="serie", min="1", max="8", aria-label="blue")
						div(flex="10", layout="", layout-align="center center")
							input(type="number", ng-model="serie", aria-label="blue", aria-controls="blue-slider")
				section.slider-title-insert
					span Séries
				section.slider-content-insert
					div(layout="row")
						div(flex="20", layout="", layout-align="center center")
							span.md-body-1 Descanso
						md-slider#blue-slider.md-primary(flex="", ng-model="descanso", min="0", max="180", aria-label="blue")
						div(flex="10", layout="", layout-align="center center")
							input(type="number", ng-model="descanso", aria-label="blue", aria-controls="blue-slider")
				section.slider-title-insert
					span Segundos
			section.insert-exercise-wrap
				section.insert-exercise-header
					section.insert-exercise-action
						md-button(class="md-raised md-primary")
							ng-md-icon(icon="exposure_plus_1" aria-label="exercicio" style="fill:white"  size="28")
					section.insert-exercise-bar
						md-input-container(md-no-float='')
							input(placeholder='Pesquisar Exercício')
				section.insert-exercise-content
					section.exercise-adds
						span Supino Reto
						span Polia
					section.exercise-view
						ds-exercise
			section.insert-details
				md-input-container(flex="")
					label Observação do Exercício
					input(ng-model="oberservacao" type="text")
	.md-actions(layout="row")
		span(flex="")
		md-button.md-primary(ng-click="answer('not useful')")
			| Cancelar
		md-button.md-primary(ng-click="answer('useful')")
			| Inserir Exercício

