section.plans_wrap
	section.plans-card
		ds-plan
			section.ds-plan-title
				h4 21/06/15 até 28/07/15
			section.ds-plan-content
				ds-info
					section.ds-title
						span Duração
					section.ds-content
						span 5 semanas
				ds-info
					section.ds-title
						span Total Treinamentos Realizados
					section.ds-content
						span 15 Treinamentos
				ds-info
					section.ds-title
						span Total Treinos
					section.ds-content
						span 3 Treinos
				ds-info
					section.ds-title
						span Média (Treinamentos/Semana)
					section.ds-content
						span 2,5 por Semana
			section.ds-plan-footer
				P.plan-on
					ng-md-icon(icon="lens" style="fill:LawnGreen"  size="22")
					| &nbsp;Em Andamento
			section.ds-plan-actions
				md-button(class="md-raised md-warn") Finalizar
		ds-plan
			section.ds-plan-title
				h4 14/05/15 até 14/06/15
			section.ds-plan-content
				ds-info
					section.ds-title
						span Duração
					section.ds-content
						span 4 semanas
				ds-info
					section.ds-title
						span Total Treinamentos Realizados
					section.ds-content
						span 10 Treinamentos
				ds-info
					section.ds-title
						span Total Treinos
					section.ds-content
						span 3 Treinos
				ds-info
					section.ds-title
						span Média (Treinamentos/Semana)
					section.ds-content
						span 2 por Semana
			section.ds-plan-footer
				P
					ng-md-icon(icon="done" style="fill:grey"  size="25")
					| &nbsp;Finalizado 1 Meses Atrás
			section.ds-plan-actions
				md-button(class="md-raised md-primary") Visualizar
		ds-plan
			section.ds-plan-title
				h4 21/04/15 até 21/05/15
			section.ds-plan-content
				ds-info
					section.ds-title
						span Duração
					section.ds-content
						span 5 semanas
				ds-info
					section.ds-title
						span Total Treinamentos Realizados
					section.ds-content
						span 15 Treinamentos
				ds-info
					section.ds-title
						span Total Treinos
					section.ds-content
						span 5 Treinos
				ds-info
					section.ds-title
						span Média (Treinamentos/Semana)
					section.ds-content
						span 2,5 por Semana
			section.ds-plan-footer
				P
					ng-md-icon(icon="done" style="fill:grey"  size="25")
					| Finalizado 2 Meses Atrás
			section.ds-plan-actions
				md-button(class="md-raised md-primary") Visualizar
		ds-plan
			section.ds-plan-title
				h4 21/04/15 até 21/05/15
			section.ds-plan-content
				ds-info
					section.ds-title
						span Duração
					section.ds-content
						span 5 semanas
				ds-info
					section.ds-title
						span Total Treinamentos Realizados
					section.ds-content
						span 15 Treinamentos
				ds-info
					section.ds-title
						span Total Treinos
					section.ds-content
						span 5 Treinos
				ds-info
					section.ds-title
						span Média (Treinamentos/Semana)
					section.ds-content
						span 2,5 por Semana
			section.ds-plan-footer
				P
					ng-md-icon(icon="done" style="fill:grey"  size="25")
					| Finalizado 4 Meses Atrás
			section.ds-plan-actions
				md-button(class="md-raised md-primary") Visualizar
