
<section class="plans_wrap">
  <section class="plans-card">
    <ds-plan>
      <section class="ds-plan-title">
        <p>21/04/15 até 21/05/15</p>
      </section>
      <section class="ds-plan-actions">
        <p>Visualizar</p>
      </section>
      <section class="ds-plan-content">
        <ds-info>
          <section class="ds-title"><span>Duração</span></section>
          <section class="ds-content"><span>5 semanas</span></section>
        </ds-info>
        <ds-info>
          <section class="ds-title"><span>Total Treinamentos Realizados</span></section>
          <section class="ds-content"><span>15 Treinamentos</span></section>
        </ds-info>
        <ds-info>
          <section class="ds-title"><span>Total Treinos</span></section>
          <section class="ds-content"><span>5 Treinos</span></section>
        </ds-info>
        <ds-info>
          <section class="ds-title"><span>Média (Treinamentos/Semana)</span></section>
          <section class="ds-content"><span>2,5 por Semana</span></section>
        </ds-info>
      </section>
      <section class="ds-plan-footer">
        <P>
          <ng-md-icon icon="done" style="fill:grey" size="25"></ng-md-icon>Finalizado 4 Meses Atrás
        </P>
      </section>
    </ds-plan>
  </section>
</section>