section.plans_wrap
	section.plans-card
		ds-plan
			section.ds-plan-title
				p 21/04/15 até 21/05/15
			section.ds-plan-actions
				p Visualizar
			section.ds-plan-content
				ds-info
					section.ds-title
						span Duração
					section.ds-content
						span 5 semanas
				ds-info
					section.ds-title
						span Total Treinamentos Realizados
					section.ds-content
						span 15 Treinamentos
				ds-info
					section.ds-title
						span Total Treinos
					section.ds-content
						span 5 Treinos
				ds-info
					section.ds-title
						span Média (Treinamentos/Semana)
					section.ds-content
						span 2,5 por Semana
			section.ds-plan-footer
				P
					ng-md-icon(icon="done" style="fill:grey"  size="25")
					| Finalizado 4 Meses Atrás

