
<section class="plans_wrap">
  <section class="plans-card">
    <ds-plan>
      <section class="ds-plan-title">
        <h3>21/06/15 até 28/07/15</h3>
      </section>
      <section class="ds-plan-content">
        <ds-info>
          <section class="ds-title"><span>Duração</span></section>
          <section class="ds-content"><span>5 semanas</span></section>
        </ds-info>
        <ds-info>
          <section class="ds-title"><span>Total Treinamentos Realizados</span></section>
          <section class="ds-content"><span>15 Treinamentos</span></section>
        </ds-info>
        <ds-info>
          <section class="ds-title"><span>Total Treinos</span></section>
          <section class="ds-content"><span>3 Treinos</span></section>
        </ds-info>
        <ds-info>
          <section class="ds-title"><span>Média (Treinamentos/Semana)</span></section>
          <section class="ds-content"><span>2,5 por Semana</span></section>
        </ds-info>
      </section>
      <section class="ds-plan-footer">
        <P class="plan-on">
          <ng-md-icon icon="lens" style="fill:LawnGreen" size="22"></ng-md-icon>&nbsp;Em Andamento
        </P>
      </section>
      <section class="ds-plan-actions">
        <md-button class="md-raised md-warn">Finalizar</md-button>
      </section>
    </ds-plan>
    <ds-plan>
      <section class="ds-plan-title">
        <h3>14/05/15 até 14/06/15</h3>
      </section>
      <section class="ds-plan-content">
        <ds-info>
          <section class="ds-title"><span>Duração</span></section>
          <section class="ds-content"><span>4 semanas</span></section>
        </ds-info>
        <ds-info>
          <section class="ds-title"><span>Total Treinamentos Realizados</span></section>
          <section class="ds-content"><span>10 Treinamentos</span></section>
        </ds-info>
        <ds-info>
          <section class="ds-title"><span>Total Treinos</span></section>
          <section class="ds-content"><span>3 Treinos</span></section>
        </ds-info>
        <ds-info>
          <section class="ds-title"><span>Média (Treinamentos/Semana)</span></section>
          <section class="ds-content"><span>2 por Semana</span></section>
        </ds-info>
      </section>
      <section class="ds-plan-footer">
        <P>
          <ng-md-icon icon="done" style="fill:grey" size="25"></ng-md-icon>&nbsp;Finalizado 1 Meses Atrás
        </P>
      </section>
      <section class="ds-plan-actions">
        <md-button class="md-raised md-primary">Visualizar</md-button>
      </section>
    </ds-plan>
    <ds-plan>
      <section class="ds-plan-title">
        <h3>21/04/15 até 21/05/15</h3>
      </section>
      <section class="ds-plan-content">
        <ds-info>
          <section class="ds-title"><span>Duração</span></section>
          <section class="ds-content"><span>5 semanas</span></section>
        </ds-info>
        <ds-info>
          <section class="ds-title"><span>Total Treinamentos Realizados</span></section>
          <section class="ds-content"><span>15 Treinamentos</span></section>
        </ds-info>
        <ds-info>
          <section class="ds-title"><span>Total Treinos</span></section>
          <section class="ds-content"><span>5 Treinos</span></section>
        </ds-info>
        <ds-info>
          <section class="ds-title"><span>Média (Treinamentos/Semana)</span></section>
          <section class="ds-content"><span>2,5 por Semana</span></section>
        </ds-info>
      </section>
      <section class="ds-plan-footer">
        <P>
          <ng-md-icon icon="done" style="fill:grey" size="25"></ng-md-icon>Finalizado 2 Meses Atrás
        </P>
      </section>
      <section class="ds-plan-actions">
        <md-button class="md-raised md-primary">Visualizar</md-button>
      </section>
    </ds-plan>
    <ds-plan>
      <section class="ds-plan-title">
        <h3>21/04/15 até 21/05/15</h3>
      </section>
      <section class="ds-plan-content">
        <ds-info>
          <section class="ds-title"><span>Duração</span></section>
          <section class="ds-content"><span>5 semanas</span></section>
        </ds-info>
        <ds-info>
          <section class="ds-title"><span>Total Treinamentos Realizados</span></section>
          <section class="ds-content"><span>15 Treinamentos</span></section>
        </ds-info>
        <ds-info>
          <section class="ds-title"><span>Total Treinos</span></section>
          <section class="ds-content"><span>5 Treinos</span></section>
        </ds-info>
        <ds-info>
          <section class="ds-title"><span>Média (Treinamentos/Semana)</span></section>
          <section class="ds-content"><span>2,5 por Semana</span></section>
        </ds-info>
      </section>
      <section class="ds-plan-footer">
        <P>
          <ng-md-icon icon="done" style="fill:grey" size="25"></ng-md-icon>Finalizado 4 Meses Atrás
        </P>
      </section>
      <section class="ds-plan-actions">
        <md-button class="md-raised md-primary">Visualizar</md-button>
      </section>
    </ds-plan>
  </section>
</section>