// p treinos do alunos {{params}} {{state.url}} {{estado}}
// div(ncy-breadcrumb="")
section.training
	section.trainings
		md-radio-group(ng-model="data.group1")
			md-radio-button.md-primary(value="A") Treino A
			md-radio-button.md-primary(value="B") Treino B
			md-radio-button.md-primary(value="C") Treino C
	section.train
		h1 Treino A
