// p treinos do alunos {{params}} {{state.url}} {{estado}}
// div(ncy-breadcrumb="")
section.training
	section.trainings
		p Treinos
		md-radio-group(ng-model="data.group1")
			md-radio-button.md-primary(value="A") Treino A
			md-radio-button.md-primary(value="B") Treino B
			md-radio-button.md-primary(value="B") Treino B
			md-radio-button.md-primary(value="B") Treino B
			md-radio-button.md-primary(value="B") Treino B
			md-radio-button.md-primary(value="B") Treino B
			md-radio-button.md-primary(value="B") Treino B
			md-radio-button.md-primary(value="B") Treino B
			md-radio-button.md-primary(value="B") Treino B
			md-radio-button.md-primary(value="B") Treino B
			md-radio-button.md-primary(value="B") Treino B
			md-radio-button.md-primary(value="B") Treino B
			md-radio-button.md-primary(value="B") Treino B
			md-radio-button.md-primary(value="B") Treino B
			md-radio-button.md-primary(value="B") Treino B
			md-radio-button.md-primary(value="B") Treino B
			md-radio-button.md-primary(value="C") Treino C
			md-radio-button.md-primary(value="D") Treino D
			md-radio-button.md-primary(value="C") Treino C
			md-radio-button.md-primary(value="D") Treino D
			md-radio-button.md-primary(value="E") Treino E
			md-radio-button.md-primary(value="C") Treino C
			md-radio-button.md-primary(value="D") Treino D
			md-radio-button.md-primary(value="C") Treino C
			md-radio-button.md-primary(value="D") Treino D
			md-radio-button.md-primary(value="E") Treino E
			md-radio-button.md-primary(value="C") Treino C
			md-radio-button.md-primary(value="D") Treino D
			md-radio-button.md-primary(value="C") Treino C
			md-radio-button.md-primary(value="D") Treino D
			md-radio-button.md-primary(value="E") Treino E
			md-radio-button.md-primary(value="C") Treino C
			md-radio-button.md-primary(value="D") Treino D
			md-radio-button.md-primary(value="C") Treino C
			md-radio-button.md-primary(value="D") Treino D
			md-radio-button.md-primary(value="E") Treino E
			md-radio-button.md-primary(value="C") Treino C
			md-radio-button.md-primary(value="D") Treino D
			md-radio-button.md-primary(value="C") Treino C
			md-radio-button.md-primary(value="D") Treino D
			md-radio-button.md-primary(value="E") Treino E
			md-radio-button.md-primary(value="C") Treino C
			md-radio-button.md-primary(value="D") Treino D
			md-radio-button.md-primary(value="C") Treino C
			md-radio-button.md-primary(value="D") Treino D
			md-radio-button.md-primary(value="E") Treino E
			md-radio-button.md-primary(value="C") Treino C
			md-radio-button.md-primary(value="D") Treino D
			md-radio-button.md-primary(value="C") Treino C
			md-radio-button.md-primary(value="D") Treino D
			md-radio-button.md-primary(value="E") Treino E
			md-radio-button.md-primary(value="C") Treino C
			md-radio-button.md-primary(value="D") Treino D
			md-radio-button.md-primary(value="C") Treino C
			md-radio-button.md-primary(value="D") Treino D
			md-radio-button.md-primary(value="E") Treino E
			md-radio-button.md-primary(value="C") Treino C
			md-radio-button.md-primary(value="D") Treino D
			md-radio-button.md-primary(value="C") Treino C
			md-radio-button.md-primary(value="D") Treino D
			md-radio-button.md-primary(value="E") Treino E
			md-radio-button.md-primary(value="C") Treino C
			md-radio-button.md-primary(value="D") Treino D
			md-radio-button.md-primary(value="C") Treino C
			md-radio-button.md-primary(value="D") Treino D
			md-radio-button.md-primary(value="E") Treino E
			md-radio-button.md-primary(value="C") Treino C
			md-radio-button.md-primary(value="D") Treino D
			md-radio-button.md-primary(value="C") Treino C
			md-radio-button.md-primary(value="D") Treino D
			md-radio-button.md-primary(value="E") Treino E
			md-radio-button.md-primary(value="C") Treino C
			md-radio-button.md-primary(value="D") Treino D
			md-radio-button.md-primary(value="C") Treino C
			md-radio-button.md-primary(value="D") Treino D
			md-radio-button.md-primary(value="E") Treino E
			md-radio-button.md-primary(value="C") Treino C
			md-radio-button.md-primary(value="D") Treino D
			md-radio-button.md-primary(value="C") Treino C
			md-radio-button.md-primary(value="D") Treino D
			md-radio-button.md-primary(value="E") Treino E
			md-radio-button.md-primary(value="C") Treino C
			md-radio-button.md-primary(value="D") Treino D
			md-radio-button.md-primary(value="C") Treino C
			md-radio-button.md-primary(value="D") Treino D
			md-radio-button.md-primary(value="E") Treino E
	section.train
		div
			section.header-add
				span Treino A
			section.options-add
				ng-md-icon(icon="launch" style="fill:white"  size="22")
				ng-md-icon(icon="expand_more" style="fill:white"  size="27"  ng-click="showGridBottomSheet($event)")
			section.content-add(id="training")  
				p Treino A
				md-button
					ng-md-icon(icon="launch" style="fill:gray"  size="32")
					div  Zoom 

