span(class='icon icon-facebook')
p Aluno
img(ng-src="holder.js/200x300/vine/text:BRU/size:50" style="max-width: 60px; max-height: 60px;border-radius:50%;")
img(ng-src="holder.js/200x300/vine/text:BRU/size:50" style="max-width: 60px; max-height: 60px;border-radius:50%;")
img(ng-src="holder.js/200x300/vine/text:BRU/size:50" style="max-width: 60px; max-height: 60px;border-radius:50%;")
img(ng-src="holder.js/200x300/vine/text:BRU/size:50" style="max-width: 60px; max-height: 60px;border-radius:50%;")
img(ng-src="holder.js/200x300/vine/text:BRU/size:50" style="max-width: 60px; max-height: 60px;border-radius:50%;")
img(ng-src="holder.js/200x300/vine/text:BRU/size:50" style="max-width: 60px; max-height: 60px;border-radius:50%;")
img(ng-src="holder.js/200x300/vine/text:BRU/size:50" style="max-width: 60px; max-height: 60px;border-radius:50%;")
img(ng-src="holder.js/200x300/vine/text:BRU/size:50" style="max-width: 60px; max-height: 60px;border-radius:50%;")
img(ng-src="holder.js/200x300/vine/text:BRU/size:50" style="max-width: 60px; max-height: 60px;border-radius:50%;")
