section.aside(ui-view="aside" ng-class="{'aside-open animated slideInLeft': userModel.clickon}")
section.content-main(ui-view="content-main" ng-class="{'content-main-open animated zoomInUp': userModel.clickon}" )
