
// .icon-search
// 	sprite($busca)

.icon-search
	content embedurl("../../../images/search.png")
	@extend .responsive
	background-repeat no-repeat
	width 50px
	border none

.icon-edit-user
	content embedurl("../../../images/edit-user.png")
	@extend .responsive
	width 1.2em
.icon-edit-plan
	content embedurl("../../../images/edit-plan.png")
	@extend .responsive
	width 1.2em
span.icon-notification
	&:before
		content embedurl("../../../images/notification.png")
		width 20px
.icon-payments
	background-image embedurl("../../../images/payments.png")
	background-repeat no-repeat
	text-indent: -99999px;
	display inline-block
	width 2em
.icon-goal
	content embedurl("../../../images/goal.png")
	@extend .responsive
	width 7em
.icon-avatar
	content embedurl("../../../images/avatar.png")
	@extend .responsive
	width 6em
