
// .icon-search
// 	sprite($busca)

.icon-search
	content embedurl("../../../images/search.png")
	@extend .responsive
	background-repeat no-repeat
	width 50px
	border none

.icon-edit-user
	content embedurl("../../../images/edit-user.png")
	@extend .responsive
	width 1.2em
.icon-edit-plan
	content embedurl("../../../images/edit-plan.png")
	@extend .responsive
	width 1.2em
.icon-notification
	content embedurl("../../../images/notification.png")
	@extend .responsive
	width 2em
.icon-payments
	content embedurl("../../../images/payments.png")
	@extend .responsive
	width 2em
.icon-goal
	content embedurl("../../../images/goal.png")
	@extend .responsive
	width 7em
.icon-close
	content embedurl("../../../images/close.png")
	@extend .responsive
	width 2em
