$aniversario = -524px -268px 128px 128px
$avaliacoes = -1052px -4px 128px 128px
$busca = -4px -524px 256px 256px
$buscar = -276px -788px 128px 128px
$calendario = -548px -788px 128px 128px
$celular = -1052px -412px 128px 128px
$colecao = -788px -532px 128px 128px
$colecaotre = -956px -924px 128px 122px
$concluido = -532px -524px 128px 128px
$configuracao = -4px -788px 128px 128px
$cronometro = -140px -788px 128px 128px
$dashboard = -788px -4px 256px 256px
$data = -412px -788px 128px 128px
$editar = -788px -268px 256px 256px
$editarpreto = -684px -788px 128px 128px
$email = -820px -788px 128px 128px
$historicotreinos = -524px -4px 256px 256px
$hora = -1052px -140px 128px 128px
$maximize = -1052px -276px 128px 128px
$medidas = -4px -4px 512px 512px
$mensalidade = -1052px -548px 128px 128px
$meta = -1052px -684px 128px 128px
$notificacao = -4px -924px 128px 128px
$novo = -140px -924px 128px 128px
$play = -276px -924px 128px 128px
$sair = -924px -532px 116px 128px
$search-128 = -548px -924px 128px 128px
$search = -1052px -820px 53px 53px
$tempo = -684px -924px 128px 128px
$tool = -412px -924px 128px 128px
$treinar = -268px -524px 256px 256px
$treinos = -820px -924px 128px 128px

sprite-width($sprite)
  width $sprite[2]

sprite-height($sprite)
  height $sprite[3]

sprite-position($sprite)
  background-position $sprite[0]  $sprite[1]

sprite($sprite)
  sprite-position($sprite)
  background-repeat no-repeat
  overflow hidden
  display block
  sprite-width($sprite)
  sprite-height($sprite)

.icon
  background-image url('../images/sprites.png')

