.addtraining
	col(6/6,gutter:0)
	margin-top 8em
	.user-add
		col(5/5,gutter:0)
		.user-name-add
			col(1/5,gutter:0)
			border-bottom 1px solid palette('Grey', '300')
			position absolute
			left 1.5em
			top -1.5em
			color palette('Grey', '600')
			text-align left
			font-weight bold
		.breadcrumb-add
			col(1/5,gutter:0)
			position absolute
			left 2.1em
			top 2.8em
			text-align right
			color palette('Grey', '600')
		.actions-add
			col(2/5,gutter:0)
			position absolute
			text-align right
			right 2.1em
			top 2em
			button.md-button
				width 35%
				min-width 15px
				min-height 30px
				line-height 30px
				font-size 90%
				margin 0
	.trainings
		col(6/6,gutter:0)
		text-align center
	.tabs
		col(6/6,gutter:0)
		// shift(.5/6,gutter:0)


