.addtraining-wrap
	col(6/6,gutter:0)
			
	.new-training
		col(6/6,gutter:0)
		box-sizing border-box
		padding-left .2em
		padding-right .2em
		position relative
		+desktop()
			padding-left 2em
			padding-right 2em
		+hd()
			padding-left 5em
			padding-right 5em
		box-sizing border-box
		md-card
			border 1px solid palette('Blue Grey','50')
			min-height:29vh !important
			position relative
			md-card-content
				// +tablet()
				// 	padding-top 7px
				// 	padding-bottom 7px
				.md-subheader
					.md-subheader-inner
						 padding 3px 0px 2px 3px
				// .background-wrap
				// 	position fixed
				// 	top 0
				// 	left 0
				// 	height 100%
				// 	width 100%
				// 	z-index 4
				// 	background-color palette('Grey','700')
				// 	opacity .1
				// .weight-add
				// 	position fixed
				// 	z-index 6
				// .weight-add
				// 	.weight-content
				// 		col(1.2/12,gutter:0)
				// 		position fixed
				// 		max-width 120px
				// 		box-sizing border-box
				// 		padding-left .7%
				// 		padding-right .7%
				// 		text-align center
				// 		font-size 70%
				// 		// background-color palette('Blue Grey','50') 
				// 		background-color white
				// 		border 1px solid palette('Blue Grey','50')  
				// 		.plus
				// 			col(12/12,gutter:0)
				// 			font-size 190%
				// 			cursor pointer
				// 			ng-md-icon
				// 				svg
				// 					margin-top 4%
				// 		.left
				// 			col(5/12,gutter:0)
				// 			box-sizing border-box
				// 			background-color white
				// 			border 1px solid palette('Blue Grey','100')  
				// 		.middle
				// 			col(2/12,gutter:0)
				// 		.right
				// 			col(5/12,gutter:0)
				// 			border 1px solid palette('Blue Grey','100')  
				// 			box-sizing border-box
				// 			background-color white
				// 			background-color white
				// 			box-sizing border-box
				// 		.minus
				// 			col(12/12,gutter:0)
				// 			font-size 250%
				// 			cursor pointer
				// 			ng-md-icon
				// 				svg
				// 					margin-top 6%
				// 		.border-red
				// 			border 1px solid palette('Red','700')  
				// 			color palette('Red','700')  
				.header-add
					col(3/6,gutter:0)
					box-sizing border-box
					padding-left 1em
					padding-right 30%
					border-bottom 3px solid palette('Blue','500')
					height 48px
					// border-top-left-radius 3px
					md-select
						// padding-top .3em
						margin 0
						font-size 155%
						+desktop()
							// padding-top .2em
							font-size 140%
					// md-select-label.md-select-label
					// 	padding-top 0
					// 	margin 0
					// 	font-size 110%
					// 	padding-left 1em
					// 	padding-right 1em
					// 	color palette('Grey', '800')
					// 	color red
					// 	// box-shadow 0 2px 2px 0 rgba(0,0,0,.1)
					// 	// background-color palette('Blue Grey','100')
					// 	border-radius 3px
				.options-add
					col(3/6,gutter:0)
					box-sizing border-box
					border-bottom 3px solid palette('Blue','500')
					height 48px
					// padding-top .5em
					// +desktop()
					// 	padding-top .5em
					border-top-right-radius 3px
					padding-right 1.3em
					text-align right
					ng-md-icon
						padding-left 1em
					button.md-button.sec
						margin-right 20px 
						span
							color palette('Light Blue', '500') 
					button
						width 38%
						min-width 15px
						min-height 30px
						line-height 30px
						font-size 80%
						margin 0
						+desktop()
							width 40%
							min-width 15px
							min-height 31px
							line-height 31px
							font-size 85%
							margin 0
				.content-add
					col(9/9,gutter:0)
					box-sizing border-box
					padding-right .5em
					padding-left .5em
					padding-top 1em
					padding-bottom .3em
					.list-trainings
						col(7.5/9,gutter:0)
						box-sizing border-box
						md-content.scroll-addtraining
							height:65vh 
							+tablet(orientation: portrait)
								height:74vh 
							+desktop()
								height:74vh 
							ul
								margin 0
								padding 0
								padding-right .7em
								margin-top .7em
								+desktop()
									padding-left 2em
									padding-right 2em
								font-size 90%
								list-style none
								.exerc-select
									background-color palette('Blue Grey','50')
									color black
									border 1px solid palette('Blue Grey','200')  

								li.ng-enter
									-webkit-animation 0.8s pulse
									-moz-animation 0.8s pulse
									-o-animation 0.8s pulse
									animation 0.8s pulse
									opacity 0
									background-color palette('Blue Grey','50')
									border 1px solid palette('Blue Grey','200')  
									color black
								// li.ng-move
								// 	-webkit-transition:0.5s linear all;
								// 	-moz-transition:0.5s linear all;
								// 	-o-transition:0.5s linear all;
								// 	transition:0.5s linear all;
								// 	opacity:0;
								li.ng-enter.ng-enter-active,
								li.ng-move.ng-move-active
									opacity 1
								.sv-helper
									font-size 120%
									color black
									line-height 38px
									background-color palette('Grey','100')
									border 1px solid palette('Blue Grey','400')
									opacity 0.9
								.sv-candidate
									opacity 0.5
								li.ng-leave
									-webkit-transition all linear 0.3s
									-moz-transition all linear 0.3s
									-o-transition all linear 0.3s
									transition all linear 0.3s
									position relative
									left 5px
									opacity .2
									// &.ng-leave-active
									// 	opacity 0
									// 	@keyframes zoomOut {
									// 		from { opacity:1; }
									// 		to { opacity:0; }
									// 	}
								li
									border 1px solid palette('Blue Grey','200')
									background-color white
									box-sizing border-box
									margin-bottom .6em
									col(12/12,gutter:0)
									text-align center
									color palette('Grey','800')
									// background-color palette('Grey','50')
									// &:hover
									// 	background palette('Blue Grey','50')
									.viw-exerc
										col(12/12,gutter:0)
										.drag
											col(1/11,gutter:0)
											box-sizing border-box
											padding-left .5em
											cursor pointer
											&:hover
												zoom 1.1
											ng-md-icon
												svg
													vertical-align middle
										.exerc
											// col(5.5/11,gutter:0)
											col(10/11,gutter:0)
											box-sizing border-box
											text-align left
											padding-left .9em
											span
												display inline-block
												margin-right 2%
												padding 3px 8px 3px 8px
												+desktop()
													padding 5px 11px 5px 11px
													line-height 11px
												font-size 83%
												border 1px solid palette('Blue Grey','200')
												border-radius 16px
												line-height 10px
												// background-color palette('Grey','50')
												color black
									// .volume
									// 	col(3/11,gutter:0)
									// .delete
									// 	col(.5/11,gutter:0)
									// 	margin-left .5em
									// 	ng-md-icon
									// 		svg
									// 			vertical-align middle
									// 			&:hover
									// 				// background palette('Red','50')
									// 				zoom 1.3
									// 			cursor pointer
					.aside-info-training
						col(1.5/9,gutter:0)
						box-sizing border-box
						text-align center
						padding 5px
						// box-shadow: 0 2px 3px rgba(0,0,0,.15)
						border 1px solid palette('Blue Grey','300')
						.ds-info
							margin-top 1em
							background-color palette('Grey','50')
							+tablet(orientation: portrait)
								margin-top 2em
							.ds-info-content
								max-height 205px
								+desktop()
									max-height 380px
								+tablet(orientation: portrait)
									max-height 300px
								overflow auto
						height 59 vh
						+tablet(orientation: portrait)
							height:68vh !important
						+desktop()
							height:68vh !important

