.addtraining
	col(6/6,gutter:0)
	margin-top 1em
	.tabs
		col(4/6,gutter:0)
		shift(1/6,gutter:0)
		min-height 9em
		+desktop()
			col(4.8/6,gutter:0)
			shift(.6/6,gutter:0)
		+hd()
			col(3/6,gutter:0)
			shift(1.5/6,gutter:0)
		+tablet()
			md-tab-item.md-tab
				padding 8px 8px
				line-height 32px
				font-size 12px
	.new-training
		col(4/6,gutter:0)
		shift(1/6,gutter:0)
		.header-add
			col(4/6,gutter:0)
			box-sizing border-box
			padding-left 2em
			background palette('Grey', '600')
			height 55px
			md-select
				padding-top .9em
				+desktop()
					padding-top .4em
			md-select-label.md-select-label
				padding-top 0
				margin 0
				font-size 110%
				color palette('Grey', '50')
		.options-add
			col(2/6,gutter:0)
			box-sizing border-box
			background palette('Grey', '600')
			height 55px
			padding-top .7em
			padding-right 1.3em
			text-align right
			ng-md-icon
				padding-left 1em
		.content-add
			col(6/6,gutter:0)
			box-sizing border-box
			padding 1em
			border 1px solid palette('Grey', '300')
			min-height 15em
	.user-add
		col(5/5,gutter:0)
		.user-img-add
			col(.4/5,gutter:0)
			position absolute
			left .8em
			bottom 0
		.user-name-add
			col(1/5,gutter:0)
			border-bottom 1px solid palette('Grey', '300')
			position absolute
			left 4.7em
			bottom 1.7em
			color palette('Grey', '600')
			text-align left
			font-weight bold
		.breadcrumb-add
			col(1/5,gutter:0)
			position absolute
			left 5em
			bottom .4em
			text-align right
			color palette('Grey', '600')
				font-size 95%
		.actions-add
			col(2/5,gutter:0)
			position absolute
			text-align right
			right 5.1em
			bottom 1.3em
			button.md-button
				width 35%
				min-width 15px
				min-height 30px
				line-height 30px
				font-size 90%
				margin 0
