.addtraining
	col(6/6,gutter:0)
	box-sizing border-box
	padding-left .5em
	padding-right .5em
	+desktop()
		padding-left 8%
		padding-right 8%
	+hd()
		padding-left 12%
		padding-right 12%
	margin-top 5.5em
	.user-add
		col(5/5,gutter:0)
		.menu-add
			col(5/5,gutter:0)
			z-index 3
			// background-color palette('Grey', '100') 
			background white
			// background -webkit-linear-gradient(90deg, #607D8B 27%, #78909C  73%)
			// background    -moz-linear-gradient(90deg, #607D8B 27%, #78909C  73%)
			// background     -ms-linear-gradient(90deg, #607D8B 27%, #78909C  73%)
			// background      -o-linear-gradient(90deg, #607D8B 27%, #78909C  73%)
			// background         linear-gradient(90deg, palette('Blue Grey', '600') 25%, palette('Blue Grey', '500') 75%)
			position fixed
			top 0
			left 0
			width 100%
			height 5.3em
			border-bottom 1px solid palette('Grey', '300')
			// box-shadow 0 2px 8px 0 rgba(0,0,0,.26)
			.user-img-add
				col(.4/5,gutter:0)
				position absolute
				left .8em
				bottom 0
			.user-name-add
				col(1/5,gutter:0)
				border-bottom 1px solid palette('Grey', '400')
				position absolute
				left 4.7em
				bottom 1.7em
				// color palette('Grey', '100')
				text-align left
				font-weight bold
			.breadcrumb-add
				col(1/5,gutter:0)
				position absolute
				left 5.6em
				bottom .4em
				text-align right
				color black
				font-size 97%
			.actions-add
				col(2/5,gutter:0)
				position absolute
				text-align right
				right 5.1em
				bottom 1.7em
				button.md-button
					width 35%
					min-width 15px
					min-height 30px
					line-height 30px
					font-size 90%
					margin 0

	md-content
		background-color transparent 
		md-card
			min-height:84vh
			+desktop()
				min-height:86vh
			// box-shadow 0 2px 9px 0 rgba(0,0,0,.26)
			md-card-content
				.tabs
					col(6/6,gutter:0)
					min-height 18vh
					md-chips
					md-tab-content
						md-content
							.item-select
								background-color palette('Blue Grey','50')
							span
								cursor pointer
								border-radius 16px
								padding-right 7px
								padding-left 7px
								margin-right 9px
								line-height 26px
								vertical-align middle
								margin-top 7px
								text-align left
								display inline-block
								background-color white
								border 1px solid palette('Blue Grey', '100')
								font-size 75%
								color palette('Grey','800')
								&:hover
									background palette('Blue Grey','50')
					md-tab-item.md-tab
						+tablet()
							padding 8px 8px
							line-height 32px
							font-size 12px
						
				.new-training
					col(6/6,gutter:0)
					box-sizing border-box
					padding-left 2em
					padding-right 2em
					position relative
					+desktop()
						padding-left 3em
						padding-right 3em
					+hd()
						padding-left 8em
						padding-right 8em

					// margin-top 6em
					box-sizing border-box
					md-card
						min-height:29vh !important
						md-card-content
							.background-wrap
								position fixed
								top 0
								left 0
								height 100%
								width 100%
								z-index 4
								background-color palette('Grey','700')
								opacity .1
							.weight-add
								position fixed
								z-index 6
							.weight-add
								.weight-content
									col(1.2/12,gutter:0)
									position fixed
									max-width 120px
									box-sizing border-box
									padding-left .7%
									padding-right .7%
									text-align center
									font-size 70%
									// background-color palette('Blue Grey','50') 
									background-color white
									border 1px solid palette('Blue Grey','50')  
									.plus
										col(12/12,gutter:0)
										font-size 190%
										cursor pointer
										ng-md-icon
											svg
												margin-top 4%
									.left
										col(5/12,gutter:0)
										box-sizing border-box
										background-color white
										border 1px solid palette('Blue Grey','100')  
									.middle
										col(2/12,gutter:0)
									.right
										col(5/12,gutter:0)
										border 1px solid palette('Blue Grey','100')  
										box-sizing border-box
										background-color white
										background-color white
										box-sizing border-box
									.minus
										col(12/12,gutter:0)
										font-size 250%
										cursor pointer
										ng-md-icon
											svg
												margin-top 6%
									.border-red
										border 1px solid palette('Red','700')  
										 color palette('Red','700')  
							.header-add
								col(3/6,gutter:0)
								box-sizing border-box
								padding-left 2em
								border-bottom 4px solid palette('Blue Grey','100')
								height 55px
								// border-top-left-radius 3px
								md-select
									padding-top .8em
									+desktop()
										padding-top .4em
								md-select-label.md-select-label
									padding-top 0
									margin 0
									font-size 110%
									padding-left 1em
									padding-right 1em
									color palette('Grey', '800')
									// box-shadow 0 2px 2px 0 rgba(0,0,0,.1)
									// background-color palette('Blue Grey','100')
									border-radius 3px
							.options-add
								col(3/6,gutter:0)
								box-sizing border-box
								border-bottom 4px solid palette('Blue Grey','100')
								height 55px
								padding-top .7em
								border-top-right-radius 3px
								+desktop()
									padding-top .5em
								padding-right 1.3em
								text-align right
								ng-md-icon
									padding-left 1em
								button.md-button
									span
										color palette('Light Blue', '500') 
										// font-weight bold
									width 38%
									min-width 15px
									min-height 27px
									line-height 27px
									font-size 80%
									margin 0
									+desktop()
										width 40%
										min-width 15px
										min-height 31px
										line-height 31px
										font-size 85%
										margin 0
							.content-add
								col(6/6,gutter:0)
								box-sizing border-box
								padding 1em
								md-content
									height:43vh !important
									+desktop()
										height:49vh !important
									ul
										col(5/6,gutter:0)
										shift(.5/6,gutter:0)
										+desktop()
											col(4/6,gutter:0)
											shift(1/6,gutter:0)
										margin 0
										padding 0
										font-size 90%
										// color palette('Blue', '500')
										// text-align center
										list-style none
										.exerc-select
											background-color palette('Blue Grey','50')
										li
											border 1px solid palette('Blue Grey','100')
											background-color white
											box-sizing border-box
											margin-bottom .5em
											col(12/12,gutter:0)
											text-align center
											color palette('Grey','700')
											// &:hover
											// 	background palette('Blue Grey','50')
											.drag
												col(1/11,gutter:0)
												margin-left .5em
												cursor pointer
												ng-md-icon
													svg
														vertical-align middle
											.exerc
												col(5.5/11,gutter:0)
												box-sizing border-box
												text-align left
												margin-left .9em
											.volume
												col(3/11,gutter:0)
											.delete
												col(.5/11,gutter:0)
												margin-left .5em
												ng-md-icon
													svg
														vertical-align middle
														&:hover
															background palette('Grey','50')
														cursor pointer

