md-dialog.md-transition-in
	-webkit-transform none !important
	transform none !important
md-dialog
	// max-width 95%
	// max-height 90%
	// +desktop()
	// 	max-width 70%
	// h1
	// 	color white
	// 	font-size 130% !important
	// md-toolbar.md-toolbar-tools
	// 	color white
	md-dialog-content
		// padding 0px 20px 5px 20px
		padding 0
		position relative
		.taining-dialog-content
			col(12/12,gutter:0)
			.open-tabs
				width 100%
				height 100%
				background-color palette('Grey','50')
				position absolute
				top 0
				left 0
				z-index 25
				opacity .8
				display none
			.way-training
				col(4/12,gutter:0)
				text-align center
			.way-add
				col(8/12,gutter:0)
				span 
					font-size 80%
					color palette('Grey','700')
					line-height 30px
				ng-md-icon
					svg
						position relative
						top 30px
						left 10px
						background palette('Blue','500')
			.slider-wrap-insert
				col(12/12,gutter:0)
				box-sizing border-box
				.slider-content-insert
					col(10.5/12,gutter:0)
					span.md-body-1
						font-size 112%
					input[type="number"]
						width 3.5em
						margin-left 8px
						text-align center
				.slider-title-insert
					col(1.5/12,gutter:0)
					box-sizing border-box
					font-size 80%
					padding-left .3em
					+desktop()
						padding-left .5em
					text-align left
					span
						line-height 50px
						vertical-align middle
			.insert-exercise-wrap
				col(12/12,gutter:0)
				box-sizing border-box
				padding 8px 22px 8px 22px
				border 1px solid palette('Grey','500')
				min-height 10vh
				margin-top .9em
				position relative
				z-index 30
				.insert-exercise-header
					col(12/12,gutter:0)
					.insert-exercise-action
						col(2/12,gutter:0)
						box-sizing border-box
						padding-left 2%
						padding-top 3px
						text-align center
						button
							width 25%
							min-width 15px
							min-height 30px
							line-height 30px
							font-size 80%
							margin 0
							+desktop()
								width 35%
								min-width 15px
								min-height 31px
								line-height 31px
								font-size 85%
								margin 0
						ng-md-icon
							svg
								vertical-align middle
					.insert-exercise-bar
						col(10/12,gutter:0)
						input
							line-height 32px
							vertical-align middle
				.insert-exercise-content
					col(12/12,gutter:0)
					.exercise-adds
						col(2/12,gutter:0)
					.exercise-view
						col(10/12,gutter:0)
						box-sizing border-box
						text-align center
						border 1px solid palette('Grey','500')
				.insert-exercise-tabs
					col(12.2/12,gutter:0)
					box-sizing border-box
					position absolute
					top 3.5em
					left -.5em
					padding 7px 10px 7px 10px
					height 40 vh
					background-color white
					// z-index 30
					border 1px solid palette('Grey', '300')
					box-shadow 0 2px 4px 1px rgba(0,0,0,.1)
					display none
					.chat-bubble-arrow-border
						border-color transparent transparent palette('Grey', '300') transparent
						border-style solid
						border-width 1em
						height 0
						width 0
						position absolute
						top -2em
						left 4.6em
					.chat-bubble-arrow
						border-color transparent transparent #fff transparent
						border-style solid
						border-width 1em
						height 0
						width 0
						position absolute
						top -1.9em
						left 4.6em
					.tabs
						col(6/6,gutter:0)
						min-height 19vh
						md-chips
						md-tab-content
							md-content
								.item-select
									background-color palette('Blue Grey','50')
								span
									cursor pointer
									border-radius 16px
									padding-right 7px
									padding-left 7px
									margin-right 9px
									line-height 26px
									vertical-align middle
									margin-top 7px
									text-align left
									display inline-block
									background-color white
									border 1px solid palette('Blue Grey', '100')
									font-size 75%
									color palette('Grey','800')
									&:hover
										background palette('Blue Grey','50')
						md-tab-item.md-tab
							+tablet()
								padding 8px 8px
								line-height 32px
								font-size 12px
