.training
	col(8/8,gutter:0)
	+desktop()
		col(7/8,gutter:0)
		shift(.5/8,gutter:0)
	+hd()
		col(6/8,gutter:0)
		shift(1/8,gutter:0)
	.trainings
		col(2/8,gutter:0)
		box-sizing border-box
		p
			font-size 90%
			margin 0
			color #aaaaaa
			font-weight bold
			margin-top 2.5em
			// margin-left .5em
		md-radio-button
			padding-left .5em
	.training-wrap
		col(5.9/8,gutter:0)
		position relative
