.plans_wrap
	col(12/12,gutter:0)
	.plans-card
		col(12/12,gutter:0)
		margin-top .5em
		+desktop()
			margin-top 1em
		+hd()
			col(11/12,gutter:0)
			shift(.5/12,gutter:0)
			margin-top 2em
		ds-plan
			col(1/2,cycle:2,gutter:2)
			ds-info
				col(1/2,cycle:2,gutter:0)
			.ds-plan-footer
				ng-md-icon
					svg
						top 4px
						position relative
				.plan-on
					ng-md-icon
						svg
							top 3px
							margin-left 9px
							position relative
							animation: muda-cor 2s linear infinite;
							@keyframes muda-cor {
								0%,49% {
									fill: palette('Grey','500')
								}
								50%,100% {
									fill: palette('Green','A400')
								}
							}
			.ds-info
				background-color palette('Grey','50')
				box-shadow none
				border 1px solid palette('Grey','100')
