doctype html
html(lang="pt-br")
	head
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(charset="utf-8")
		title Vitta
		meta(name="description", content="")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel='stylesheet', href='css/test-one.css#{version.cache}')

		block js
			script(src='js/main.js')

	body

		block content
			div
				h1 bruno content pai