
<section class="login">
  <form name="projectForm">
    <md-input-container>
      <label>Login</label>
      <input type="text" md-maxlength="30" required="" name="description" ng-model="project.description"/>
      <div ng-messages="projectForm.description.$error">
        <div ng-message="required">Este campo é obrigatório.</div>
        <div ng-message="md-maxlength">Passou 30</div>
      </div>
    </md-input-container>
    <md-input-container>
      <label>Senha</label>
      <input type="text" required="" name="clientName" ng-model="project.clientName"/>
      <div ng-messages="projectForm.clientName.$error">
        <div ng-message="required">Este campo é obrigatório.</div>
      </div>
    </md-input-container>
    <md-button ng-click="login();" class="md-raised md-primary">Entrar</md-button>
  </form>
</section>