
<section class="login">
  <form name="loginForm">
    <md-input-container>
      <label>Login</label>
      <input type="text" required="" name="login" ng-model="form.login"/>
      <div ng-messages="loginForm.login.$error" role="alert">
        <div ng-if="showRequiredError">
          <div ng-message="required">Este campo é obrigatório.</div>
        </div>
      </div>
    </md-input-container>
    <md-input-container>
      <label>Senha</label>
      <input type="password" required="" name="senha" ng-model="form.senha"/>
      <div ng-messages="loginForm.senha.$error" role="alert">
        <div ng-if="showRequiredError">
          <div ng-message="required">Este campo é obrigatório.</div>
        </div>
      </div>
    </md-input-container>
    <md-button ng-click="login();" class="md-raised md-primary">Entrar</md-button>
  </form>
</section>