
<div>
  <input type:"text="type:"text" ng-model="newUserName"/>
  <button ng-click="addUser();">+User</button>
  <p>{{data | json}}</p>
  <div ng-repeat="user in users" ng-click="removeUser(user);">{{user.nome}}</div>
</div>
<section class="login">
  <form name="loginForm">
    <md-input-container>
      <label>Login</label>
      <input type="text" required="" name="username" ng-model="userModel.username"/>
      <div ng-messages="loginForm.username.$error" role="alert">
        <div ng-if="showRequiredError">
          <div ng-message="required">Este campo é obrigatório.</div>
        </div>
      </div>
    </md-input-container>
    <md-input-container>
      <label>Senha</label>
      <input type="password" required="" name="password" ng-model="userModel.password"/>
      <div ng-messages="loginForm.password.$error" role="alert">
        <div ng-if="showRequiredError">
          <div ng-message="required">Este campo é obrigatório.</div>
        </div>
      </div>
    </md-input-container>
    <md-button ng-click="login();" class="md-raised md-primary">Entrar</md-button>
  </form>
</section>