
<ul>
  <li><a ng-click="eventsService.toggle_search();"><span class="icon icon-search"></span></a></li>
  <li><a href="#"><img holder="holder.js/50x50?auto=yes&amp;random=yes&amp;text=BRU" class="user-no-active"/></a></li>
  <li><a href="#"><img holder="holder.js/50x50?auto=yes&amp;random=yes&amp;text=MAR" class="user-active"/></a></li>
  <li><a href="#"><img holder="holder.js/50x50?auto=yes&amp;random=yes&amp;text=JUL" class="user-no-active"/></a></li>
  <li><a href="#"><img holder="holder.js/50x50?auto=yes&amp;random=yes&amp;text=EDU" class="user-no-active"/></a></li>
  <li><a href="#"><img holder="holder.js/50x50?auto=yes&amp;random=yes&amp;text=CAR" class="user-active"/></a></li>
  <li><a href="#"><img holder="holder.js/50x50?auto=yes&amp;random=yes&amp;text=MAR" class="user-no-active"/></a></li>
  <li><a href="#"><img holder="holder.js/50x50?auto=yes&amp;random=yes&amp;text=WIL" class="user-active"/></a></li>
  <li><a href="#"><img holder="holder.js/50x50?auto=yes&amp;random=yes&amp;text=RAF" class="user-active"/></a></li>
</ul>