ul
	li
		img.user-search(src='images/files/search.png' ng-click="eventsService.toggle_search();")
	li
		a(href="#")
			img.user-no-active(holder='holder.js/50x50?auto=yes&random=yes&text=BRU')
	li
		a(href="#")
			img.user-active(holder='holder.js/50x50?auto=yes&random=yes&text=MAR')
	li
		a(href="#")
			img.user-no-active(holder='holder.js/50x50?auto=yes&random=yes&text=JUL')
	li
		a(href="#")
			img.user-no-active(holder='holder.js/50x50?auto=yes&random=yes&text=EDU')
	li
		a(href="#")
			img.user-active(holder='holder.js/50x50?auto=yes&random=yes&text=CAR')
	li
		a(href="#")
			img.user-no-active(holder='holder.js/50x50?auto=yes&random=yes&text=MAR')
	li
		a(href="#")
			img.user-active(holder='holder.js/50x50?auto=yes&random=yes&text=WIL')
	li
		a(href="#")
			img.user-active(holder='holder.js/50x50?auto=yes&random=yes&text=BRU')
	li
		a(href="#")
			img.user-no-active(holder='holder.js/50x50?auto=yes&random=yes&text=MIC')
	li
		a(href="#")
			img.user-no-active(holder='holder.js/50x50?auto=yes&random=yes&text=ADE')
	li
		a(href="#")
			img.user-active(holder='holder.js/50x50?auto=yes&random=yes&text=JOS')
	li
		a(href="#")
			img.user-no-active(holder='holder.js/50x50?auto=yes&random=yes&text=JOA')
	li
		a(href="#")
			img.user-active(holder='holder.js/50x50?auto=yes&random=yes&text=TAL')
	li
		a(href="#")
			img.user-active(holder='holder.js/50x50?auto=yes&random=yes&text=RAF')