section.perfil(ui-view="perfil")
	section.user
		section.user-img
			img(class="img-responsive" ng-click="coreEvents.toggle_menu();" holder='holder.js/80x80?auto=yes&theme=vine&text=BRU')
		a(ui-sref="core.user.home.planTraining")
			h3.user-name Bruno
		span.breadcrumb
			ng-md-icon(icon="place" style="fill:grey"  size="20")
			span(ncy-breadcrumb-last="") &nbsp;{{getStatesChain}}
	section.close(ng-if="(coreEvents.menu || coreEvents.options)" ng-click="coreEvents.close_all();")
	section.menu(ui-view="menu" ng-if="coreEvents.menu" )
		section.chat-bubble-arrow-border
		section.chat-bubble-arrow
		section.menu-header
			section.perfil-user
				section.img-user
					img(class="img-responsive" holder='holder.js/45x45?auto=yes&theme=sky&text=BRU')
				h6 Bruno Alexandre
				ng-md-icon(icon="create" style="fill:silver"  size="22")
		section.icons-header
			section.dashboard
				a(ui-sref="core.user.home.planTraining")
					ng-md-icon(icon="dashboard" style="fill:grey"  size="40")
					p Painel
			section.notification
				a(ui-sref="core.user.home.planTraining")
					ng-md-icon(icon="notifications" style="fill:grey"  size="40")
					p Notificações
		section.menu-content
			section.plan-header
				section.title-plan
					a(ui-sref="core.user.home.planTraining")
						p Plano de Treinamento
							ng-md-icon(icon="launch" style="fill:silver"  size="25")
				section.edit-plan
					p(ng-click="edit_plan($event);") Trocar Plano
				// md-select(placeholder='Plano', ng-model='plan' style="min-width:250px;")
				// 	md-option(ng-repeat='plan in plans', value='{{plan}}') {{plan}}
				// ng-md-icon(icon="launch" style="fill:silver"  size="25" ng-click="true")
			section.plan
				p 2&#170; Semana (8&deg; dia)
				md-progress-linear.md-primary(md-mode="determinate", value="40")
			section.icons-content
				section.train
					a(ui-sref="core.user.listTraining")
						ng-md-icon(icon="assignment" style="fill:grey"  size="40")
						p Treinos
				section.history
					a(ui-sref="core.user.trainingHistory")
						ng-md-icon(icon="local_movies" style="fill:grey"  size="40")
						p   Histórico Treinamentos
				section.review
					ng-md-icon(icon="straighten" style="fill:grey"  size="40")
					p Medidas
			section.btn-train
				md-button(class="md-raised md-primary"  id="btn-treinar")
					ng-md-icon(icon="play_arrow" style="fill:white"  size="25")
					| &nbsp;&nbsp;Treinar

section.actions(ui-view="actions")
	// a(ui-sref-active="sdd" ui-sref="core.user.addtraining")
	// 	md-button(class="md-raised md-primary") Inserir Treino
	p Fit Academia

section.user-admin(ui-view="user-admin")
	section.notification-admin
		ng-md-icon(icon="notifications_none" style="fill:grey"  size="40")
	section.admin-name
		img(class="img-responsive square" holder='holder.js/40x40?auto=yes&theme=sky&text=BRU')
		span(ng-click="toggle_options();") Bruno
			ng-md-icon(icon="expand_more" style="fill:grey"  size="17")

	section.options-admin(ng-if="coreEvents.options")
		section.chat-bubble-arrow-border
		section.chat-bubble-arrow
		ul
			li 
				ng-md-icon(icon="person" style="fill:grey"  size="17")
				| &nbsp;&nbsp;Perfil
			li
				a(ui-sref="core.user.schedule")
					ng-md-icon(icon="event" style="fill:grey"  size="17")
					| &nbsp;&nbsp;Agenda
			li
				a(ui-sref="core.user.collectionTraining")
					ng-md-icon(icon="local_library" style="fill:grey"  size="17")
					| &nbsp;&nbsp;Coleção Treinos
			li
				p.line
			li
				ng-md-icon(icon="settings" style="fill:grey"  size="17")
				| &nbsp;&nbsp;Configurações
			li
				ng-md-icon(icon="shopping_cart" style="fill:grey"  size="17")
				| &nbsp;&nbsp;Conta
			li
				p.line
			li
				ng-md-icon(icon="vpn_key" style="fill:grey"  size="17")
				| &nbsp;&nbsp;Alterar Senha
			li(ng-click='logout();')
				ng-md-icon(icon="settings_power" style="fill:grey"  size="17")
				| &nbsp;&nbsp;Sair
