section.perfil(ui-view="perfil")
	section.user
		section.user-img
			img(class="img-responsive" ng-click="coreEvents.toggle_menu();" holder='holder.js/80x80?auto=yes&theme=sky&text=BRU')
		h4.user-name Bruno
		span.breadcrumb Treinos

	section.menu(ui-view="menu" ng-if="coreEvents.menu" )
		section.menu-header
			section.perfil-user
				section.img-user
					img(class="img-responsive" holder='holder.js/45x45?auto=yes&theme=sky&text=BRU')
				h6 Bruno Alexandre
				ng-md-icon(icon="settings" style="fill:grey"  size="25" ng-click="true")
		section.icons-header
			section.dashboard
				ng-md-icon(icon="edit" style="fill:grey"  size="45" ng-click="true")
				p Dashboard
		section.menu-content
			p Plano de Treinamento
			ng-md-icon(icon="launch" style="fill:silver"  size="25" ng-click="true")
			section.goal.icon-goal
				p teste
			section.plan
				p Ganho de Massa
				p 2 semanas
				p 3x por semana
			section.icons-content
				ul
					li treinos
					li Histórico de treinamentos
					li mensalidades
					li avaliações

section.user-admin(ui-view="user-admin")
	img(class="img-responsive" holder='holder.js/50x50?auto=yes&theme=sky&text=BRU')
	h6.admin-name Bruno
	hr.line
	a.logout(href='' ng-click='logout();') Sair
