// img(class="icon-search" ng-click="coreEvents.toggle_search();")
section(class="search-icon")
	ng-md-icon(icon="search" ng-if="!coreEvents.search" style="fill:silver"  size="65" ng-click="coreEvents.toggle_search();")
	ng-md-icon(icon="keyboard_backspace" ng-if="coreEvents.search" style="fill:silver" size="65" ng-click="coreEvents.toggle_search();")
// md-divider
section(class="list-users"  ng-class="{'list-users': !coreEvents.search, 'list-users-open': coreEvents.search}")
	section(ng-repeat="person in [1,2,2,4,5,6] track by $index")
		img(class="img-responsive" ui-sref-active="active" ui-sref="core.user.treinos" alt="{{ person.name }}" holder='holder.js/60x60?auto=yes&random=yes&text=BRU')
		p(ng-if="coreEvents.search") Bruno Alexandreeeee
		ng-md-icon(icon="close" style="fill:gray" options='{"duration":375}' size="35" ng-if="coreEvents.search" ng-click="doSecondaryAction($event);")

