section.aside(ui-view="aside" ng-class="{'aside-open animated slideInLeft': coreEvents.search}")
section.content-main(ui-view="contentMain" ng-class="{'content-main-open animated zoomInUp': coreEvents.search}" )
