
<section ui-view="perfil" class="perfil">
  <section class="user">
    <section class="user-img"><img ng-click="coreEvents.toggle_menu();" holder="holder.js/80x80?auto=yes&amp;theme=sky&amp;text=BRU" class="img-responsive"/></section>
    <h4 class="user-name">Bruno</h4><span class="breadcrumb">Treinos</span>
  </section>
  <section ui-view="menu" ng-if="coreEvents.menu" class="menu">
    <section class="menu-header"><img holder="holder.js/45x45?auto=yes&amp;theme=sky&amp;text=BRU" class="img-responsive"/>
      <h6 class="user-name">Bruno Alexandre</h6><img class="icon-edit-user"/>
      <section class="icons-header"><span class="icon-payments"></span>
        <div class="icon-notification teste"></div><img class="icon-edit-user"/>
      </section>
    </section>
    <md-divider></md-divider>
    <section class="menu-content">
      <p>Plano de Treinamento</p><img class="icon-edit-plan"/>
      <section class="goal"><img class="icon-goal"/></section>
      <section class="plan">
        <h5>Ganho de Massa</h5>
        <p>2 semanas</p>
        <p>3x por semana</p>
      </section>
      <section class="icons-content">
        <ul>
          <li>treinos</li>
          <li>Histórico de treinamentos</li>
          <li>mensalidades</li>
          <li>avaliações</li>
        </ul>
      </section>
    </section>
  </section>
</section>
<section ui-view="user-admin" class="user-admin"><img holder="holder.js/50x50?auto=yes&amp;theme=sky&amp;text=BRU" class="img-responsive"/>
  <h6 class="admin-name">Bruno</h6>
  <hr class="line"/><a href="" ng-click="logout();" class="logout">Sair</a>
</section>