section.perfil(ui-view="perfil")
	section.user
		section.user-img
			img(class="img-responsive" ng-click="coreEvents.toggle_menu();" holder='holder.js/80x80?auto=yes&theme=sky&text=BRU')
		h4.user-name Bruno
		span.breadcrumb Treinos

	section.menu(ui-view="menu" ng-if="coreEvents.menu" )
		section.menu-header
			section.perfil-user
				section.img-user
					img(class="img-responsive" holder='holder.js/45x45?auto=yes&theme=sky&text=BRU')
				h6 Bruno Alexandre
				ng-md-icon(icon="settings" style="fill:grey"  size="25" ng-click="true")
		section.icons-header
			section.dashboard
				ng-md-icon(icon="dashboard" style="fill:grey"  size="40" ng-click="true")
				p Dashboard
			section.notification
				ng-md-icon(icon="notifications" style="fill:grey"  size="40" ng-click="true")
				p Notificações
		section.menu-content
			p Plano de Treinamento
			ng-md-icon(icon="launch" style="fill:silver"  size="25" ng-click="true")
			section.plan
				p 3 Semanas
				md-progress-linear.md-primary(md-mode="determinate", value="40")
			section.icons-content
				section.train
					ng-md-icon(icon="assignment" style="fill:grey"  size="40" ng-click="true")
					p Treinos
				section.history
					ng-md-icon(icon="local_movies" style="fill:grey"  size="40" ng-click="true")
					p Histór
				section.review
					ng-md-icon(icon="straighten" style="fill:grey"  size="40" ng-click="true")
					p Avaliações
			section.btn-train
				md-button(class="md-raised md-primary"  ng-click="true;" id="btn-treinar")
					ng-md-icon(icon="play_arrow" style="fill:white"  size="35" ng-click="true")
					| Treinar

section.user-admin(ui-view="user-admin")
	img(class="img-responsive" holder='holder.js/50x50?auto=yes&theme=sky&text=BRU')
	h6.admin-name Bruno
	hr.line
	a.logout(href='' ng-click='logout();') Sair
