// img(class="icon-search" ng-click="coreEvents.toggle_search();")
section(class="search-icon")
	// ng-md-icon(icon="search" ng-if="!coreEvents.search" style="fill:silver"  size="65" ng-click="coreEvents.toggle_search();")
	img(class="img-responsive btn" ng-click="coreEvents.toggle_search();" ng-hide="coreEvents.search" holder='holder.js/70x70?&bg=FFFFFF&text=+&size=35&fg=9E9E9E')
	ng-md-icon(icon="keyboard_backspace" ng-show="coreEvents.search"  style="fill:silver" size="65" ng-click="coreEvents.toggle_search();")
section(class="list-users"  ng-class="{'list-users': !coreEvents.search, 'list-users-open': coreEvents.search}")
	section(ng-repeat="person in [1,2,3,4,5,6,7,8] track by $index")
		img(class="img-responsive" ui-sref-active="active" ui-sref="core.user.training" alt="{{ person.name }}" holder='holder.js/60x60?auto=yes&random=yes&text=BRU')
		// img(class="img-responsive" ui-sref="core.user.training" holder='holder.js/60x60?auto=yes&theme=gray&text=BRU')
		p(ng-if="coreEvents.search") Bruno Alexandreeeee
		ng-md-icon(icon="close" style="fill:silver" size="35" ng-if="coreEvents.search" ng-click="doSecondaryAction($event);")

