section.perfil(ui-view="perfil")
	section.user
		section.user-img
			img(class="img-responsive" ng-click="coreEvents.toggle_menu();" holder='holder.js/80x80?auto=yes&theme=sky&text=BRU')
		h4.user-name Bruno
		span.breadcrumb
			ng-md-icon(icon="assignment" style="fill:grey"  size="20" ng-click="true")
			| &nbsp;Treinos

	section.menu(ui-view="menu" class="animated fadeIn" ng-if="coreEvents.menu" )
		section.chat-bubble-arrow-border
		section.chat-bubble-arrow
		section.menu-header
			section.perfil-user
				section.img-user
					img(class="img-responsive" holder='holder.js/45x45?auto=yes&theme=sky&text=BRU')
				h6 Bruno Alexandre
				ng-md-icon(icon="settings" style="fill:grey"  size="25" ng-click="true")
		section.icons-header
			section.dashboard
				ng-md-icon(icon="dashboard" style="fill:grey"  size="40" ng-click="true")
				p Dashboard
			section.notification
				ng-md-icon(icon="notifications" style="fill:grey"  size="40" ng-click="true")
				p Notificações
		section.menu-content
			section.plan-header
				section.title-plan
					p Plano de Treinamento
				section.edit-plan
					p Alterar plano
				// md-select(placeholder='Plano', ng-model='plan' style="min-width:250px;")
				// 	md-option(ng-repeat='plan in plans', value='{{plan}}') {{plan}}
				// ng-md-icon(icon="launch" style="fill:silver"  size="25" ng-click="true")
			section.plan
				p 2/5 Semanas
				md-progress-linear.md-primary(md-mode="determinate", value="40")
			section.icons-content
				section.train
					ng-md-icon(icon="assignment" style="fill:grey"  size="40" ng-click="true")
					p Treinos
				section.history
					ng-md-icon(icon="local_movies" style="fill:grey"  size="40" ng-click="true")
					p   Histórico Treinamentos
				section.review
					ng-md-icon(icon="straighten" style="fill:grey"  size="40" ng-click="true")
					p Avaliações
			section.btn-train
				md-button(class="md-raised md-primary"  ng-click="true;" id="btn-treinar")
					ng-md-icon(icon="play_arrow" style="fill:white"  size="25" ng-click="true")
					| &nbsp;&nbsp;Treinar

section.actions
	a(ui-sref-active="sdd" ui-sref="core.user.addtraining")
		md-button(class="md-raised md-primary"  ng-click="true;" id="action") Criar Treino

section.user-admin(ui-view="user-admin")
	section.notification-admin
		ng-md-icon(icon="notifications_none" style="fill:grey"  size="40" ng-click="true")
	section.admin-name
		img(class="img-responsive square" holder='holder.js/40x40?auto=yes&theme=sky&text=BRU')
		span(ng-click="toggle_options();") Bruno
			ng-md-icon(icon="expand_more" style="fill:grey"  size="17" ng-click="true")

	section.options-admin(class="animated fadeIn" ng-if="coreEvents.options")
		section.chat-bubble-arrow-border
		section.chat-bubble-arrow
		ul
			li 
				ng-md-icon(icon="person" style="fill:grey"  size="17" ng-click="true")
				| &nbsp;&nbsp;Perfil
			li
				ng-md-icon(icon="event" style="fill:grey"  size="17" ng-click="true")
				| &nbsp;&nbsp;Agenda
			li
				ng-md-icon(icon="local_library" style="fill:grey"  size="17" ng-click="true")
				| &nbsp;&nbsp;Coleção Treinos
			li
				p.line
			li
				ng-md-icon(icon="settings" style="fill:grey"  size="17" ng-click="true")
				| &nbsp;&nbsp;Configurações
			li
				ng-md-icon(icon="shopping_cart" style="fill:grey"  size="17" ng-click="true")
				| &nbsp;&nbsp;Conta
			li
				p.line
			li
				ng-md-icon(icon="vpn_key" style="fill:grey"  size="17" ng-click="true")
				| &nbsp;&nbsp;Alterar Senha
			li(ng-click='logout();')
				ng-md-icon(icon="settings_power" style="fill:grey"  size="17" ng-click="true")
				| &nbsp;&nbsp;Sair
