section.search-wrap
	md-content
		md-card
			md-card-content
				section.search
					md-input-container
						label Buscar Aluno
						input(type="text", ng-model="searchModel.search")
					ng-md-icon(icon="search" style="fill:silver"  size="50" ng-click="true;")
				section.content-search
					section.new-user
						md-button(class="md-raised md-primary" ng-click="new_user($event);") Cadastrar Aluno
					section.recent
						h5 Alunos Fechados
						section(ng-repeat="person in [1,2,2,4,4,4] track by $index")
							md-list-item
								img(holder='holder.js/35x35?auto=yes&random=yes&text=BRU' class="img-responsive")
								p(ng-if="coreEvents.search") Bruno Alexandre
								ng-md-icon(icon="add" style="fill:DarkGray" size="23" ng-click="open_user($event);")
					section.new
						h5 Últimos Cadastrados
						section(ng-repeat="person in [1,2,2,4,4,4] track by $index")
							md-list-item
								img(holder='holder.js/35x35?auto=yes&random=yes&text=BRU' class="img-responsive")
								p(ng-if="coreEvents.search") Bruno Alexandre
								ng-md-icon(icon="add" style="fill:DarkGray" size="23" ng-click="open_user($event);")

				// section.fab-action
				// 	md-button.md-fab.md-primary(aria-label="Use Android")
				// 		a(ui-sref-active="sdd" ui-sref="core.user.addtraining")
				// 			ng-md-icon(icon="add" style="fill:white"  size="38")
				// 		md-tooltip(class="tooltipAction .left") Inserir Treino

