section(ui-view="aside" ng-class="{'aside':!coreEvents.search, 'aside-open': coreEvents.search}")
section(ui-view="contentMain" ng-class="{'content-main':!coreEvents.search, 'content-main-open': coreEvents.search}" )
// section(ui-view="contentMain" ng-class="{'content-main':!coreEvents.search, 'content-main-open animated zoomInUp': coreEvents.search}" )
