
<section ui-view="perfil" class="perfil">
  <section class="user">
    <section class="user-img"><img ng-click="coreEvents.toggle_menu();" holder="holder.js/80x80?auto=yes&amp;theme=sky&amp;text=BRU" class="img-responsive"/></section>
    <h4 class="user-name">Bruno</h4><span class="breadcrumb">Treinos</span>
  </section>
  <section ui-view="menu" ng-if="coreEvents.menu" class="menu">
    <section class="menu-header">
      <section class="perfil-user">
        <section class="img-user"><img holder="holder.js/45x45?auto=yes&amp;theme=sky&amp;text=BRU" class="img-responsive"/></section>
        <h6>Bruno Alexandre</h6>
        <ng-md-icon icon="settings" style="fill:grey" size="25" ng-click="true"></ng-md-icon>
      </section>
    </section>
    <section class="icons-header">
      <section class="dashboard">
        <ng-md-icon icon="dashboard" style="fill:grey" size="40" ng-click="true"></ng-md-icon>
        <p>Dashboard</p>
      </section>
      <section class="notification">
        <ng-md-icon icon="notifications" style="fill:grey" size="40" ng-click="true"></ng-md-icon>
        <p>Notificações</p>
      </section>
    </section>
    <section class="menu-content">
      <p>Plano de Treinamento</p>
      <ng-md-icon icon="launch" style="fill:silver" size="25" ng-click="true"></ng-md-icon>
      <section class="plan">
        <p>3 Semanas</p>
        <md-progress-linear md-mode="determinate" value="40" class="md-primary"></md-progress-linear>
      </section>
      <section class="icons-content">
        <section class="train">
          <ng-md-icon icon="assignment" style="fill:grey" size="40" ng-click="true"></ng-md-icon>
          <p>Treinos</p>
        </section>
        <section class="history">
          <ng-md-icon icon="local_movies" style="fill:grey" size="40" ng-click="true"></ng-md-icon>
          <p>Histór</p>
        </section>
        <section class="review">
          <ng-md-icon icon="straighten" style="fill:grey" size="40" ng-click="true"></ng-md-icon>
          <p>Avaliações</p>
        </section>
      </section>
      <section class="btn-train">
        <md-button ng-click="true;" id="btn-treinar" class="md-raised md-primary">
          <ng-md-icon icon="play_arrow" style="fill:white" size="35" ng-click="true"></ng-md-icon>Treinar
        </md-button>
      </section>
    </section>
  </section>
</section>
<section ui-view="user-admin" class="user-admin"><img holder="holder.js/50x50?auto=yes&amp;theme=sky&amp;text=BRU" class="img-responsive"/>
  <h6 class="admin-name">Bruno</h6>
  <hr class="line"/><a href="" ng-click="logout();" class="logout">Sair</a>
</section>