md-dialog(aria-label="Mango (Fruit)")
	section.edit-plan-wrap
		md-toolbar(md-theme="default") 
			.md-toolbar-tools
				h1 Plano Treinamento
				span(flex="")
				// md-button(ng-click="answer('not applicable')")
				ng-md-icon(icon="close" ng-click="answer('not applicable')" style="fill:white" size="25")
		md-dialog-content
			section.content-wrap
				section.action(layout="row")
					md-button(class="md-raised md-primary") Novo Plano
				section.content
					div(layout="row")
						div(flex="20", layout="", layout-align="center center")
							span.md-body-1 Duração
						md-slider#blue-slider.md-primary(flex="", ng-model="duracao", min="1", max="12", aria-label="blue")
						div(flex="10", layout="", layout-align="center center")
							input(type="number", ng-model="duracao", aria-label="blue", aria-controls="blue-slider")
					div(layout="row")
						div(flex="20", layout="", layout-align="center center")
							span.md-body-1 Frequência
						md-slider#blue-slider.md-primary(flex="", ng-model="frequencia", min="1", max="7", aria-label="blue")
						div(flex="10", layout="", layout-align="center center")
							input(type="number", ng-model="frequencia", aria-label="blue", aria-controls="blue-slider")
		.md-actions(layout="row")
			span(flex="")
			md-button.md-primary(ng-click="answer('not useful')")
				| Cancelar
			md-button.md-primary(ng-click="answer('useful')")
				| Salvar Alterações
