section.edit-wrap-content
	section.user-add
		section.menu-add
			// section.user-img-add
			// 	img(class="img-responsive" ng-click="coreEvents.toggle_menu();" holder='holder.js/80x80?auto=yes&theme=sky&text=BRU')
			h5.user-name-add Bruno
			span.breadcrumb-add
				ng-md-icon(icon="place" style="fill:grey"  size="20")
				span(ncy-breadcrumb-last="") &nbsp;{{getStatesChain}}
			section.actions-add(ui-view="actions-add")
	md-content
		md-card
			md-card-content(ui-view="content-add")

