
<md-dialog aria-label="Mango (Fruit)">
  <section class="edit-plan-wrap">
    <md-toolbar md-theme="grey"> 
      <div class="md-toolbar-tools">
        <h1>Plano Treinamento</h1><span flex=""></span>
        <!-- md-button(ng-click="answer('not applicable')")-->
        <ng-md-icon icon="close" ng-click="answer('not applicable')" style="fill:white" size="25"></ng-md-icon>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <section class="content-wrap">
        <section layout="row" class="action">
          <md-button class="md-raised md-primary">Novo Plano</md-button>
        </section>
        <section class="content">
          <div layout="row">
            <div flex="20" layout="" layout-align="center center"><span class="md-body-1">Duração</span></div>
            <md-slider id="blue-slider" flex="" ng-model="duracao" min="1" max="12" aria-label="blue" class="md-primary"></md-slider>
            <div flex="10" layout="" layout-align="center center">
              <input type="number" ng-model="duracao" aria-label="blue" aria-controls="blue-slider"/>
            </div>
          </div>
          <div layout="row">
            <div flex="20" layout="" layout-align="center center"><span class="md-body-1">Frequência</span></div>
            <md-slider id="blue-slider" flex="" ng-model="frequencia" min="1" max="7" aria-label="blue" class="md-primary"></md-slider>
            <div flex="10" layout="" layout-align="center center">
              <input type="number" ng-model="frequencia" aria-label="blue" aria-controls="blue-slider"/>
            </div>
          </div>
        </section>
      </section>
    </md-dialog-content>
    <div layout="row" class="md-actions"><span flex=""></span>
      <md-button ng-click="answer('not useful')" class="md-primary">Cancelar</md-button>
      <md-button ng-click="answer('useful')" class="md-primary">Salvar Alterações</md-button>
    </div>
  </section>
</md-dialog>