
<section ui-view="perfil" class="perfil"><img holder="holder.js/200x300/vine/text:BRU/size:50" style="max-width:80px; max-height: 80px;border-radius:50%;"/><span>Bruno</span><span>Treinos</span>
  <section ui-view="menu" class="menu">
    <ul>
      <li>treinos</li>
      <li>Histórico de treinamentos</li>
      <li>mensalidades</li>
      <li>avaliações</li>
    </ul>
  </section>
</section>
<section ui-view="user" class="user"><img holder="holder.js/200x300/lava" style="max-width:40px; max-height:40px;border-radius:50%;"/><span>{{userModel.nome}}</span>
  <button ng-click="logout();">logout</button>
</section>