section.perfil(ui-view="perfil")
	a(href='' ng-click="eventsService.toggle_menu();")
		img.user-no-active(holder='holder.js/50x50?auto=yes&random=yes&text=BRU')
	span.md-title Bruno
	span.md-body-2 Treinos
	section.menu(ui-view="menu" ng-if="eventsService.menu" )
		ul
			li.md-body-2 treinos
			li.md-body-2 Histórico de treinamentos
			li.md-body-2 mensalidades
			li.md-body-2 avaliações
section.user(ui-view="user")
	img.user-no-active(holder='holder.js/50x50?auto=yes&random=yes&text=BRU')
	span.md-title Bruno
	div
		a.md-body-2(href='' ng-click='logout();') logout
