
<section ui-view="perfil" class="perfil"><a href="" ng-click="eventsService.toggle_menu();"><img holder="holder.js/50x50?auto=yes&amp;random=yes&amp;text=BRU" class="user-no-active"/></a><span class="md-title">Bruno</span><span class="md-body-2">Treinos</span>
  <section ui-view="menu" ng-if="eventsService.menu" class="menu">
    <ul>
      <li class="md-body-2">treinos</li>
      <li class="md-body-2">Histórico de treinamentos</li>
      <li class="md-body-2">mensalidades</li>
      <li class="md-body-2">avaliações</li>
    </ul>
  </section>
</section>
<section ui-view="user" class="user"><img holder="holder.js/50x50?auto=yes&amp;random=yes&amp;text=BRU" class="user-no-active"/><span class="md-title">Bruno</span>
  <div><a href="" ng-click="logout();" class="md-body-2">logout</a></div>
</section>