section.aside(ui-view="aside" ng-class="{'aside-open animated slideInLeft': eventsService.search}")
section.content-main(ui-view="content-main" ng-class="{'content-main-open animated zoomInUp': eventsService.search}" )
