doctype html
html(lang="pt-br")
	head
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(charset="utf-8")
		title Vitta
		meta(name="description", content="")
		meta(name="viewport", content="width=device-width, initial-scale=1")

		//- build:css /css/build/style.min.css
		block css
			link(rel='stylesheet', href='css/main.css')
			link(rel='stylesheet', href='css/teste.css')
		//- endbuild

		//- build:js /js/build/script.min.js
		block js
			script(src='js/main.js')
			script(src='js/teste.js')
		//- endbuild

	body

		h1= title
		p= message
		div bruno alexandre de souza.
		img(src="images/paisagem.jpg")
		a.button( href=path.about) GoogleMud