doctype html
html(class="no-js" lang="pt-br")
	head
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(charset="utf-8")
		title Meu Treinamento
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		block css
			link(rel="stylesheet", href="css/styles.css")
		block js
			script(type="text/javascript", src="js/scripts.js")
			script(charset="utf-8" src="//ucarecdn.com/widget/2.1.4/uploadcare/uploadcare.full.min.js")
			script(type="text/javascript")
				| UPLOADCARE_LOCALE = "pt";
				| UPLOADCARE_TABS = "file facebook gdrive dropbox instagram evernote flickr skydrive";
				| UPLOADCARE_PUBLIC_KEY = "eb39c5def657fcd88946";
	body(ng-app="app")
		block main
			section.wrap(ui-view="wrap")