doctype html
html(class="no-js" lang="pt-br")
    head
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(charset="utf-8")
        title Meu Treinamento
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        block css
            link(rel="stylesheet", href="css/main.css")
        block js
            script(type="text/javascript", src="js/main.js")
            script(type="text/javascript", src="bower_components/holderjs/holder.min.js")
            script(type="text/javascript", src="bower_components/modernizr/modernizr.js")
    body
        block main
        div.wrap          
            aside
                nav
            header
            main
                img(src="holder.js/200x200/sky/text:Meu Treinamento")