doctype html
html(lang="pt-br")
	head
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(charset="utf-8")
		title Vitta
		meta(name="description", content="")
		meta(name="viewport", content="width=device-width, initial-scale=1")

		link(href='/css/build/style.min-16045ff3.css', rel='stylesheet' )
		script(src='/js/build/script.min-c6cd5c23.js', type='text/javascript' )
	body

		h1= title
		p= message
		div bruno alexandre de souza.
		img(src="images/paisagem.jpg")
		a.button( href=path.about) GoogleMud