.aside
	col(1/16,gutter:0)
	background-color palette('Grey', '800')
	position fixed
	height 100%
	overflow-y scroll
	ul
		list-style none
		margin 0
		padding 0
		text-align center
		li
			margin 0.4em 0
			a
				text-decoration none
				display block
				.user-search
					img-responsive()
					width 50px
					heigth 50px
				.user-active
					img-responsive()
					border-radius 50%
					border 2px solid palette('Green', 'A700')
					-webkit-box-sizing border-box
					-moz-box-sizing border-box
					box-sizing border-box
				.user-no-active
					img-responsive()
					border-radius 50%
.aside-open
	col(3/16,gutter:0)