.wrap
	.aside
		col(1/16,gutter:0)
		background-color palette('Grey', '600')
		position fixed
		height 100%
		overflow-y auto
		z-index 2
	.header
		col(15/16,gutter:0) // col(15/16,gutter:1)
		shift(1/16,gutter:0)
		background-color palette('Grey', '200')
		position fixed
		height 5em
		z-index 2
		.perfil
			col(12/15, gutter:0)
			height 5em
			background-color palette('Cyan', '100')
			z-index 2
			.menu
				col(6/12, gutter:0)
				height 25em
				position absolute
				top 5.8em
				left 0.5em
				background-color palette('Cyan', '100')
				z-index 2
		.user
			col(3/15, gutter:0)
			height 5em
			background-color palette('Teal', '100')
			z-index 2
	.content
		col(15/16,gutter:0) // col(15/16,gutter:1)
		shift(1/16,gutter:0)
		background-color palette('Grey', '50')
		z-index 1
		margin-top 5em
