$facebook = -4px -4px 64px 64px
$googleplus = -76px -4px 64px 64px
$instagram = -4px -76px 64px 64px
$twitter = -76px -76px 64px 64px

sprite-width($sprite)
  width $sprite[2]

sprite-height($sprite)
  height $sprite[3]

sprite-position($sprite)
  background-position $sprite[0]  $sprite[1]

sprite($sprite)
  sprite-position($sprite)
  background-repeat no-repeat
  overflow hidden
  display block
  sprite-width($sprite)
  sprite-height($sprite)

.icon
  background-image url('../images/sprites.png')

