// block css wrap
.wrap
	col(16/16,gutter:0)
// end css wrap

	// block css aside
	.aside
		col(1/16,gutter:0)
		background-color palette('Grey', '800')
		position fixed
		height 100%
		overflow-y scroll
		ul
			list-style none
			margin 0
			padding @margin
			text-align center
			li
				margin 0.4em @margin
				.user-search
					@extend .img-responsive
					width 50px
					heigth @width
				a
					text-decoration @list-style
					display block
					.user-active
						@extend .img-responsive
						border 2px solid palette('Green', 'A700')
						prefixer(box-sizing, border-box)
					.user-no-active
						@extend .img-responsive
	.aside-open
		col(3/16,gutter:0)
	// end css aside

	// block css content
	.content-main
		col(15/16,gutter:0)
		shift(1/16,gutter:0)
		.header
			col(15/15,gutter:0) 
			shift(1/16,gutter:0)
			position fixed
			background-color palette('Grey', '200')
			height 5em
			.perfil
				col(6/15,gutter:0)
				height 5em
				background-color palette('Grey', '200')
				.user-selected
					vertical-align middle
					@extend .img-responsive
					margin-top 0.4em
					margin-left 1em
				.user-name
					display inline
					color palette('Grey', '800')
					font-weight bold
				.line
					display inline
					vertical-align middle
				.breadcrumb
					display inline
					color palette('Grey', '800')
				.menu
					col(4/11,gutter:0)
					height 25em
					position absolute
					top 6em
					left 0.5em
					background-color palette('Grey', '200')
			.user
				col(3/15,gutter:0)
				shift(12/15,gutter:0)
				position fixed
				height 5em
				background-color palette('Grey', '300')
				.admin-img
					vertical-align middle
					@extend .img-responsive
					margin-top 1.2em
					margin-left 1em
				.admin-name
					display inline
					vertical-align middle
					color palette('Grey', '800')
					font-weight bold
				.line
					display inline
					vertical-align middle
				.logout
					display inline
					color palette('Red', '600')
					margin-left 0.6em
					text-decoration none
					font-size 0.8em
		.content
			col(16/16,gutter:0)
			background-color palette('Grey', '50')
			margin-top 6em
	.content-main-open
		col(13/16,gutter:0)
		shift(3/16,gutter:0)
	// end css content