@import "../../bower_components/jeet/stylus/jeet/index"
@import "../../bower_components/normalize.styl/normalize"
@import "../../bower_components/rupture-by-jenius/rupture/index"
// @import "../../bower_components/kouto-swiss/index"

@import "../../bower_components/bootstrap-stylus/bootstrap/index.styl"



.wrap
	aside
		position fixed
		left 0px
		top 0px
		height 100%
		col(3/12,gutter:1)
		.alunos
			col(1/4,gutter:0.1)
			// background #444444
			border-right 1px solid
			height 100%
			img
				display block
				border-radius 50%
				margin 5%
				center()
		.perfil
			col(3/4,gutter:1)
			.perfil-image
				background #F1F1F1
				padding 10%
				img
					display block
					border-radius 20%
					center()
			a
				display block
				border-bottom 1px solid 
				color #1E0909
				margin 0px
				padding 8px 12px
				text-decoration none
				font-weight normal
				text-align center
	.main
		col(9/12,offset:3/12,gutter:1)
		margin-top 4em
		.professor
			.btn-collapse
				col(1/9,gutter:1)
				position fixed
				top 0px
				visibility hidden
			.professor-admin
				col(3/9)
				position fixed
				left (6/9*100)%
				top 0px
				text-align right
				img
					margin 2%
					border-radius 20%
