@import "../../bower_components/jeet/stylus/jeet/index"
@import "../../bower_components/normalize.styl/normalize"
@import "../../bower_components/rupture-by-jenius/rupture/index"
// @import "../../bower_components/kouto-swiss/index"

@import "../../bower_components/bootstrap-stylus/bootstrap/index.styl"



.wrap
	aside
		position fixed
		left 0px
		top 0px
		height 100%
		col(3/12,gutter:1)
		.alunos
			overflow-y auto
			col(1/4,gutter:0.1)
			// background #444444
			border-right 1px solid #E2E1E1
			height 100%
			img
				display block
				border-radius 50%
				margin 5%
				center()
			.alunos-selecionados
				border-bottom 1.3px solid #E4E4E4
			.alunos-sugeridos
				// overflow-y scroll
		.perfil
			col(3/4,gutter:1)
			.perfil-image
				background #F1F1F1
				padding 10%
				img
					display block
					border-radius 20%
					center()
			a
				display block
				border-bottom 1px solid  #E4E4E4
				color #1E0909
				margin 0px
				padding 4em 8%
				text-decoration none
				font-weight normal
				text-align center
	.main
		col(9/12,gutter:2)
		shift(3/12,gutter:0)
		background #CAF7CA
		margin-top 5em
		.professor
			.btn-collapse
				col(1/9,gutter:0)
				background #CFCFFB
				position fixed
				top 0px
			.professor-admin
				col(2/9,gutter: .6)
				shift(7/9,gutter: 0)
				background #CFCFFB 
				position fixed
				top 0px
				text-align right
				img
					margin 1%
					border-radius 20%
