.center-block
	center()
.center
	align(direction=both)

.img-responsive 
	max-width 100%
	height auto
	// @extend .img-responsive
.active
	border 2px solid palette('Green', 'A700')
	// prefixer(box-sizing, border-box)
