.center-block
	center()
.center
	align(direction=both)
.img-responsive
	max-width 100%
	height auto
	prefixer(border-radius, 50%)
	// margin .1em
.active
	border 2px solid palette('Green', 'A700')
	// prefixer(box-sizing, border-box)
.inline
	display inline
.icon2
	width 60px
	height uuto

/*! bruno22
*/
md-input-container.md-default-theme label, 
	md-input-container.md-default-theme .md-placeholder
		color gray
button, svg, ng-md-icon, img
	&:focus
		outline 0


