.img-responsive
	max-width 100%
	height auto
	prefixer(border-radius, 50%)
	// border 1px solid white
	// box-sizing border-box
.btn
	border 1px solid #C0C0C0
	// border 1px solid palette('Blue', '500')
// .active
// 	border 1px solid palette('Green', 'A700')
	// prefixer(box-sizing, border-box)
.square
	border-radius 8%
svg
	max-width 100%
// md-input-container.md-default-theme label, 
// 	md-input-container.md-default-theme .md-placeholder
// 		color gray
button, svg, ng-md-icon, img, .admin-name, span, md-chip, section, p
	&:focus
		outline 0
button.md-button
	text-transform none
	font-size 85%
	// font-weight bold
button.md-button.sec
	margin-right 20px 
	span
		color palette('Light Blue', '500') 
// a.md-button.md-primary.md-raised, a.md-button.md-primary.md-fab, .md-button.md-primary.md-raised, .md-button.md-primary.md-fab
md-dialog.md-transition-in
	-webkit-transform none !important
	transform none !important
md-dialog
	max-width 95%
	max-height 93%
	+desktop()
		max-width 70%
	+hd()
		max-width 60%
	h1
		color white
		font-weight bold
	// md-dialog-content
	// 	box-shadow  0px -1px 2px rgba(50, 50, 50, 0.12)
	.md-actions
		border-top 1px solid palette('Grey','100')
		background-color palette('Grey', '50')
		.button-silver
			background-color rgba(158,158,158,0.2)
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
	display none !important
body
	Roboto-Light()
	background-color palette('Grey', '50')
	height 100vh
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;

a
	text-decoration none
	color palette('Light Blue', '500') 
	color inherit
	&:link
		text-decoration none
	&:visited
		text-decoration none

