// block css wrap
.wrap
	col(12/12,gutter:0)
// end css wrap

	// block css aside
	.aside
		col(1/12,gutter:0)
		background-color palette('Grey', '600')
		position fixed
		height 100%
		overflow-y auto
	.aside-open
		@extend .aside
		col(3/12,gutter:0)
	// end css aside

	// block css content
	.content-main
		col(11/12,gutter:0)
		shift(1/12,gutter:0)
		.header
			col(11/11,gutter:0) 
			shift(1/12,gutter:0)
			position fixed
			background-color palette('Grey', '300')
			height 5em
		.content
			col(11/11,gutter:0)
			background-color palette('Grey', '50')
			margin-top 6em
	.content-main-open
		@extend .content-main
		col(9/12,gutter:0)
		shift(3/12,gutter:0)
	// end css content