section.home-wrap
	section.home-menu
		md-tabs(md-center-tabs="true" md-selected="0")
			md-tab
				md-tab-label
					a(href="") Plano Treinamento
			md-tab
				md-tab-label Painel
			md-tab
				md-tab-label Notificações
			md-tab
				md-tab-label Perfil
	section.home-content-wrap(ui-view="home-content")
		p home view
