
<section class="home-wrap">
  <section class="home-menu">
    <md-tabs md-center-tabs="true" md-selected="0">
      <md-tab>
        <md-tab-label><a href="">Plano Treinamento</a></md-tab-label>
      </md-tab>
      <md-tab>
        <md-tab-label>Painel</md-tab-label>
      </md-tab>
      <md-tab>
        <md-tab-label>Notificações</md-tab-label>
      </md-tab>
      <md-tab>
        <md-tab-label>Perfil</md-tab-label>
      </md-tab>
    </md-tabs>
  </section>
  <section ui-view="home-content" class="home-content-wrap">
    <p>home view</p>
  </section>
</section>