
<section class="plan-wrap">
  <section class="plan-dashboard">
    <section class="plan-graf">
      <ng-md-icon icon="track_changes" style="fill:grey" size="170"></ng-md-icon>
    </section>
    <section class="plan-overview">
      <section class="plan-goal">
        <h1> 
          <ng-md-icon icon="gps_fixed" style="fill:grey" size="25"></ng-md-icon>Ganho de Peso
        </h1>
      </section>
      <section class="plan-time"><span>duração</span><span>frequencia semanal</span><span>treinamentos realizados</span></section>
    </section>
  </section>
  <section class="plan-cards">
    <section class="plan-trainings">
      <md-card>
        <md-card-content>
          <h3>Treinos</h3>
          <md-content>
            <md-subheader></md-subheader>
            <training name="A"></training>
            <training name="b"></training>
            <training name="C"></training>
            <training name="d"></training>
            <training name="e"></training>
            <training name="f"></training>
            <training name="f"></training>
            <training name="f"></training>
            <training name="b"></training>
            <training name="C"></training>
            <training name="d"></training>
            <training name="f"></training>
            <training name="f"></training>
            <training name="f"></training>
            <training name="f"></training>
            <training name="f"></training>
            <training name="f"></training>
            <training name="g"></training>
            <training name="h"></training>
            <training name="g"></training>
            <training name="h"></training>
            <training name="g"></training>
            <training name="h"></training>
            <training name="g"></training>
            <training name="h"></training>
            <training name="g"></training>
            <training name="h"></training>
          </md-content>
        </md-card-content>
        <div layout="row" layout-align="end center" class="md-actions">
          <md-button class="md-raised md-primary">Inserir Treino</md-button>
        </div>
      </md-card>
    </section>
    <section class="plan-historical">
      <md-card>
        <md-card-content>
          <h3>Histórico Treinamentos</h3>
          <md-content>
            <md-subheader></md-subheader>
            <p>conteudo</p>
          </md-content>
        </md-card-content>
        <div layout="row" layout-align="end center" class="md-actions">
          <md-button class="md-raised md-primary">Treinar</md-button>
        </div>
      </md-card>
    </section>
  </section>
</section>