section.plan-wrap
	section.plan-dashboard
		md-card
			md-card-content
				section.plan-header-options
					md-button(class="md-raised") Editar Plano
				section.plan-graf
					canvas#pie.chart.chart-pie(data='data' labels='labels')
					span.one 
					span &nbsp;Dias Restantes 33%&nbsp;&nbsp;&nbsp;&nbsp;
					span.two 
					span &nbsp;Dias Decorridos 66%
				section.plan-overview
					section.plan-goal
						h1 
							ng-md-icon(icon="gps_fixed" style="fill:grey"  size="25")
							| &nbsp;Ganho de Peso
						span 21/04/15 até 14/05/15
					section.plan-time
						section.card
							ds-info
								section.ds-title
									span Duração
								section.ds-content
									span 5 semanas
							ds-info
								section.ds-title
									span Frequência Semanal
								section.ds-content
									span 5x
	section.plan-cards
		section.plan-trainings
			md-card
				md-card-content
					a(ui-sref="core.user.listTraining")
						h4 Treinos
							ng-md-icon(icon="launch" style="fill:silver"  size="23")
					md-content
						md-subheader
						ds-training(name="A" disable="true")
						ds-training(name="B")
						ds-training(name="C")
						ds-training(name="D")
						ds-training(name="D")
						ds-training(name="D")
						ds-training(name="D")
						ds-training(name="E")
						ds-training(name="F")
						ds-training(name="E")
						ds-training(name="F")
						ds-training(name="E")
						ds-training(name="F")
						ds-training(name="E")
						ds-training(name="F")
						ds-training(name="G")
						ds-training(name="H")
				div.md-actions(layout="row", layout-align="end center")
					md-button(class="md-raised md-primary")
						a(ui-sref-active="sdd" ui-sref="core.user.edit.addtraining") Inserir Treino
		section.plan-historical
			md-card
				md-card-content
					a(ui-sref="core.user.trainingHistory")
						h4 Histórico Treinamentos
							ng-md-icon(icon="launch" style="fill:silver"  size="24")
					md-content
						md-subheader
						p conteudo
				div.md-actions(layout="row", layout-align="end center")
					md-button(class="md-raised md-primary")
						a Treinar
