section.plan-wrap
	section.plan-dashboard
		section.plan-graf
			ng-md-icon(icon="track_changes" style="fill:grey"  size="170")
		section.plan-overview
			section.plan-goal
				h1 
					ng-md-icon(icon="gps_fixed" style="fill:grey"  size="25")
					| Ganho de Peso
			section.plan-time
				span duração
				span frequencia semanal
				span treinamentos realizados
	section.plan-cards
		section.plan-trainings
			md-card
				md-card-content
					h3 Treinos
					md-content
						md-subheader
						training(name="A")
						training(name="b")
						training(name="C")
						training(name="d")
						training(name="e")
						training(name="f")
						training(name="f")
						training(name="f")
						training(name="b")
						training(name="C")
						training(name="d")
						training(name="f")
						training(name="f")
						training(name="f")
						training(name="f")
						training(name="f")
						training(name="f")
						training(name="g")
						training(name="h")
						training(name="g")
						training(name="h")
						training(name="g")
						training(name="h")
						training(name="g")
						training(name="h")
						training(name="g")
						training(name="h")
				div.md-actions(layout="row", layout-align="end center")
					md-button(class="md-raised md-primary") Inserir Treino
		section.plan-historical
			md-card
				md-card-content
					h3 Histórico Treinamentos
					md-content
						md-subheader
						p conteudo
				div.md-actions(layout="row", layout-align="end center")
					md-button(class="md-raised md-primary") Treinar
