section.plan-wrap
	section.plan-dashboard
		section.plan-graf
			ng-md-icon(icon="track_changes" style="fill:grey"  size="170")
		section.plan-overview
			section.plan-goal
				h1 
					ng-md-icon(icon="gps_fixed" style="fill:grey"  size="25")
					| Ganho de Peso
			section.plan-time
				section.card
					span duração
					span frequencia semanal
					span treinamentos realizados
	section.plan-cards
		section.plan-trainings
			md-card
				md-card-content
					a(ui-sref="core.user.listTraining")
						h3 Treinos
							ng-md-icon(icon="launch" style="fill:silver"  size="24")
					md-content
						md-subheader
						ds-training(name="A")
						ds-training(name="b")
						ds-training(name="C")
						ds-training(name="d")
						ds-training(name="e")
						ds-training(name="f")
						ds-training(name="f")
						ds-training(name="f")
						ds-training(name="b")
						ds-training(name="C")
						ds-training(name="d")
						ds-training(name="f")
						ds-training(name="f")
						ds-training(name="f")
						ds-training(name="f")
						ds-training(name="f")
						ds-training(name="f")
						ds-training(name="g")
						ds-training(name="h")
						ds-training(name="g")
						ds-training(name="h")
						ds-training(name="g")
						ds-training(name="h")
						ds-training(name="g")
						ds-training(name="h")
						ds-training(name="g")
						ds-training(name="h")
				div.md-actions(layout="row", layout-align="end center")
					a(ui-sref-active="sdd" ui-sref="core.user.addtraining")
						md-button(class="md-raised md-primary") Inserir Treino
		section.plan-historical
			md-card
				md-card-content
					a(ui-sref="core.user.trainingHistory")
						h3 Histórico Treinamentos
							ng-md-icon(icon="launch" style="fill:silver"  size="24")
					md-content
						md-subheader
						p conteudo
				div.md-actions(layout="row", layout-align="end center")
					md-button(class="md-raised md-primary") Treinar
