.search-icon
	col(3/3, gutter:0)
	text-align center
	margin-top .3em
	margin-bottom .3em
	img
		margin-bottom 1.4em
		margin-top .9em
		margin-left auto
		margin-right auto
		display block
		width 63% !important
		height 63% !important
		+hd()
			width 50% !important
			height 50% !important
		cursor pointer
		cursor hand

.list-users
	col(3/3, gutter:0)
	margin-top .2em
	img
		margin-bottom .5em
		margin-left auto
		margin-right auto
		display block
		width 60%
		+hd()
			width 47%
		cursor pointer
		cursor hand
		// +hd()
		// 	width 60%
.list-users-open
	box-sizing border-box
	padding-left .5em
	padding-right .5em
	section
		col(1/1,cycle:1)
		img
			col(1/5,gutter:0)
			margin-bottom .5em
			+desktop()
				width 18%
		p
			col(3.5/5,gutter:0)
			// color palette('Grey', '50')
			padding-top .5em
			box-sizing border-box
			padding-left 1%
			margin 0
			font-size .9em
			vertical-align middle
			+tablet(orientation: portrait)
				font-size .8em
			+hd()
				padding-top .9em
				font-size 1.5em
		ng-md-icon
			col(.4/5,gutter:0)
			padding-top 2%
			+hd()
				padding-top 1.3em
			cursor pointer
			svg
				max-width 100%
