.perfil
	col(6/15,gutter:0)
	height 5em
	background-color palette('Grey', '300')
	.user-name
		display inline
		color palette('Grey', '600')
		font-weight bold
	.line
		display inline
		vertical-align middle
	.breadcrumb
		display inline
		color palette('Grey', '600')
	.menu
		col(4/11,gutter:0)
		height 25em
		position absolute
		top 6em
		left 0.5em
		background-color palette('Grey', '300')
		padding 1em
		.menu-header
			// col(4/4,gutter:0)
			img
				margin .5em
			.icons-header
				margin .1em
		.menu-content
			col(4/4,gutter:0)
			p
				display inline
			img
				margin .4em
			.goal
				col(2/4,gutter:0)
			.plan
				col(2/4,gutter:0)
				h5
					margin 0
			.icons-content
				col(1)
				font-size .6em
				li
					display inline


.user
	col(3/15,gutter:0)
	shift(12/15,gutter:0)
	position fixed
	height 5em
	background-color palette('Grey', '300')
	.admin-name
		display inline
		vertical-align middle
		color palette('Grey', '600')
		font-weight bold
	.line
		display inline
		vertical-align middle
	.logout
		display inline
		color palette('Red', '600')
		margin-left 0.6em
		text-decoration none
		font-size 0.8em

