.search
	col(5/9,2/9 -2/9, gutter:0)
	md-input-container
		margin 0
		padding 0
h6.suggestion
	box-sizing border-box
	padding-left 25%
	padding-top 0
	margin-top 0
.suggestion
	col(7/9,1/9 -1/9, gutter:0)
	section
		col(1/2,cycle:2)
.new-user
	col(8/9,.5/9 -.5/9,gutter:0)
	margin-top 1em
	margin-bottom 2em
	.avatar
		col(3.2/8,.5/8,gutter:4)
		text-align center
		margin-top 4%
	.attributes
		col(3.2/8,-.5/8,gutter:0)
		margin-bottom 3%
		md-input-container
			padding 0
	button
		col(3/5,1/5 -1/5,gutter:0)
		text-align center
		margin-bottom 3%

