.search-icon
	text-align center
	margin-top .3em
	margin-bottom .3em

.list-users
	col(3/3, gutter:0)
	margin-top .2em
	text-align center
.list-users-open
	@extend .list-users
	display inline
	p
		display inline-block
		font-size 1em
		color palette('Grey', '300')
		vertical-align middle
	ng-md-icon
		cursor pointer
