.search-icon
	text-align center
	margin-top .3em
	margin-bottom .3em

.list-users
	col(3/3, gutter:0)
	margin-top .2em
	img
		margin-bottom .3em
		margin-left auto
		margin-right auto
		display block
		+hd()
			width 90%
.list-users-open
	@extend .list-users
	section
		col(1/1,cycle:1)
		img
			col(1.2/5,gutter:0)
		p
			col(3.2/5,gutter:0)
			color palette('Grey', '300')
			padding-top 5%
			padding-left 2%
			margin 0
			font-size 90%
			+hd()
				padding-top 8%
				font-size 140%
		ng-md-icon
			col(.5/5,gutter:0)
			padding-top 5%
			cursor pointer
			svg
				max-width 100%
