.perfil
	col(6/15,gutter:0)
	height 5em
	.user
		col(5/5,gutter:0)
		.user-img
			col(1/5,gutter:0)
			box-sizing border-box
			text-align left
			margin-left 1em
			margin-top .4em
			cursor pointer
		.user-name
			col(1/5,gutter:0)
			border-bottom 1px solid
			position absolute
			left 4.5em
			top -1.5em
			color palette('Grey', '600')
			text-align left
			font-weight bold
		.breadcrumb
			col(1/5,gutter:0)
			position absolute
			left 6.3em
			top 2.5em
			text-align right
			color palette('Grey', '600')
	.menu
		col(4.3/11,gutter:0)
		box-sizing border-box
		height 23em
		+tablet()
			height 25em
		position absolute
		top 6.3em
		left 1em
		background-color white
		border 1px solid palette('Grey', '300')
		padding 0.5em
		.menu-header
			col(4/4,gutter:0)
			.perfil-user
				col(4/4,gutter:0)
				padding-left 1em
				.img-user
					col(.5/4,gutter:0)
					display inline-block
					margin 0
					padding 0
				h6
					col(2.5/4,gutter:0)
					position absolute
					font-size 1.2em
					margin 0
					top .1em
					left 3.5em
				ng-md-icon
					col(.5/4,gutter:0)
					shift(2.5/4,gutter:0)
					padding-top .5em
					text-align center
		.icons-header
			col(3/4,gutter:0)
			shift(.6/4,gutter:0)
			margin-bottom .5em
			section
				col(1/4,.5/4,cycle:3,gutter:0)
				text-align center
				p
					margin 0
					display block
					font-weight bold
					font-size .9em
					color palette('Blue', '500')
				
		.menu-content
			col(5/5,gutter:0)
			border-top 1px solid palette('Grey', '200')
			p
				display inline
				// font-weight bold
			img
				margin .4em
			.plan
				col(5/5,gutter:0)
				box-sizing border-box
				padding-left 2.5em
				padding-right 2.5em
				margin-bottom 1.5em
				text-align center
			.icons-content
				col(7/8,gutter:0)
				shift(.8/8,gutter:0)
				margin-bottom .5em
				section
					col(2/8,.2/8,cycle:4,gutter:0)
					text-align center
					p

						display block
						color palette('Blue', '500')
						font-weight bold
						font-size .9em
						margin 0
			.btn-train
				col(5/5,gutter:0)
				text-align center
				button.md-button
					width 50%
					height auto
					font-size 90%
				ng-md-icon
					svg
						position absolute
						top .1em
						left .5em
						+desktop()
							left 1.5em
.user-admin
	col(3/15,gutter:0)
	shift(12/15,gutter:0)
	position fixed
	height 5em
	.admin-name
		display inline
		vertical-align middle
		color palette('Grey', '600')
		font-weight bold
	.line
		display inline
		vertical-align middle
	.logout
		display inline
		color palette('Red', '600')
		margin-left 0.6em
		text-decoration none
		font-size 0.8em

