md-dialog
	col(3.5/5, gutter:0)
	+desktop()
		col(3/6, gutter:0)
	md-toolbar
		// background-color white
		border-bottom 1px solid palette('Grey', '300')
		h1
			color white
			font-size 130% !important
	md-dialog-content
		.new-user
			.avatar
				// col(1/6, gutter:0)
				text-align center
				// margin-bottom 4%
				img
					max-width 20%
				.uploadcare-widget-button-open
					background-color palette('Blue', '400')
			.attributes
				margin-right 7%
				margin-left 7%
			// 	col(5/6, gutter:0)

