md-dialog
	// md-toolbar
		// background-color white
	md-dialog-content
		.new-user
			col(5/5, gutter:0)
			.avatar
				col(5/5, gutter:0)
				margin-top 5%
				text-align center
				img
					max-width 20%
				.uploadcare-widget-button-open
					background-color palette('Blue', '400')
			.attributes
				col(5/5, gutter:0)
				box-sizing border-box
				padding-right 3%
				padding-left 3%

