section.ds-exercises
	ul(sv-root="exercises" sv-part="exercicios")
		li(ng-repeat="exercicio in exercicios" class="angular-animate" sv-element="exercise" ng-class="{'exerc-select': $index==index}")
			ds-exercise(exercicio="exercicio")
