
<section class="ds-serie">
  <section class="ds-serie-view">
    <section class="ds-serie-step-content">
      <section sv-handle="" ng-Mouseenter="close_serie();" class="ds-serie-position-step"><span ng-bind-template="{{position}} ª"></span></section>
      <section class="ds-serie-list">
        <section ng-Mouseenter="open_serie();" class="ds-serie-list-item-wrap">
          <!-- section.ds-serie-list-item(ng-repeat="person in [2,2,3,4,5,6] track by $index")-->
          <!-- section(ui-view="contentMain" ng-class="{'content-main':!coreEvents.search, 'content-main-open animated zoomInUp': coreEvents.search}" )-->
          <section ng-class="{'ds-serie-list-item--active': isOpened}" ng-repeat="person in [4,5,6] track by $index" class="ds-serie-list-item">
            <section class="ds-serie-exerc">
              <!-- span {{serie.name}}--><span>Supino Reto Aberto</span>
            </section>
            <section class="ds-serie-repts"><span>10 Repts</span></section>
            <section class="ds-serie-weight"><span>20kg</span></section>
          </section>
        </section>
        <section ng-show="isOpened" class="ds-serie-view-wrap">
          <section ng-class="{'animated flipInX': isOpened}" class="ds-serie-view">
            <section class="ds-serie-view-clone">
              <!-- md-button(class="md-raised sec"  ng-click="importTraining($event);") Clonar-->
              <ng-md-icon icon="content_copy" style="fill:grey" size="30"></ng-md-icon><span>Duplicar</span>
            </section>
            <section ng-click="dial()" class="ds-serie-view-edit">
              <!-- md-button(class="md-raised sec"  ng-click="importTraining($event);") Editar-->
              <ng-md-icon icon="settings" style="fill:grey" size="32"></ng-md-icon><span>Editar</span>
            </section>
            <section class="ed-serie-view-delete">
              <!-- md-button(class="md-raised sec"  ng-click="importTraining($event);") Excluir-->
              <ng-md-icon icon="close" style="fill:grey" size="35"></ng-md-icon><span>Excluir</span>
            </section>
          </section>
        </section>
      </section>
    </section>
  </section>
</section>