section.ds-serie
	section.ds-serie-view
		section.ds-serie-step-content
			section.ds-serie-position-step(sv-handle="" ng-Mouseenter="close_serie();")
				span {{position}}ª
			section.ds-serie-list
				section.ds-serie-list-item-wrap(ng-Mouseenter="open_serie();")
					// section.ds-serie-list-item(ng-repeat="person in [2,2,3,4,5,6] track by $index")
					// section(ui-view="contentMain" ng-class="{'content-main':!coreEvents.search, 'content-main-open animated zoomInUp': coreEvents.search}" )
					section.ds-serie-list-item(ng-class="{'ds-serie-list-item--active': isOpened}" ng-repeat="person in [4,5,6] track by $index")
						section.ds-serie-exerc
							// span {{serie.name}}
							span Supino Reto Aberto
						section.ds-serie-repts
							span 10 Repts
						section.ds-serie-weight
							span 20kg
				section.ds-serie-view-wrap(ng-show="isOpened")
					section.ds-serie-view(ng-class="{'animated flipInX': isOpened}")
						section.ds-serie-view-clone
							// md-button(class="md-raised sec"  ng-click="importTraining($event);") Clonar
							ng-md-icon(icon="content_copy" style="fill:grey"  size="30")
							span Duplicar
						section.ds-serie-view-edit(ng-click="dial()")
							// md-button(class="md-raised sec"  ng-click="importTraining($event);") Editar
							ng-md-icon(icon="settings" style="fill:grey"  size="32")
							span Editar
						section.ed-serie-view-delete
							// md-button(class="md-raised sec"  ng-click="importTraining($event);") Excluir
							ng-md-icon(icon="close" style="fill:grey"  size="35")
							span Excluir
