section.ds-serie-edit
	section.ds-serie-edit-wrap
		section.ds-serie-edit-select
			section.ds-serie-edit-select-wrap
				section.ds-serie-edit-select-header
					section.ds-serie-edit-select-action(ng-click="toggle_tab();")
						md-button(class="md-raised md-primary")
							ng-md-icon(icon="add_box" aria-label="exercicio" style="fill:white"  size="28")
					section.ds-serie-edit-select-bar
						md-input-container(md-no-float='')
							input(placeholder='Pesquisar Exercício' ng-model="pesquisar" ng-keypress="pesquisar_exercicio($event)")
				section.ds-serie-edit-select-tabs(ng-if="tabOpened")
					section.chat-bubble-arrow-border
					section.chat-bubble-arrow
					section.ds-serie-edit-select-tabs-wrap
						md-tabs(md-dynamic-height="true" md-border-bottom="false")
							// md-tab(label="Geral")
							// 	md-content.md-paddin
							// 	section.autocompletedemoCustomTemplate
							// 		md-autocomplete(ng-disabled="isDisabled", md-no-cache="noCache", md-selected-item="selectedItem", md-search-text-change="searchTextChange(searchText)", md-search-text="searchText", md-selected-item-change="selectedItemChange(item)", md-items="item in querySearch(searchText)", md-item-text="item.display", md-min-length="0", placeholder="Digite aqui o nome do exercício que deseja inserir" md-menu-class="autocomplete-custom-template")
							// 			md-item-template
							// 				span.item-title
							// 					md-icon(md-svg-icon="img/icons/octicon-repo.svg")
							// 					span  {{item.name}} 
							// 				span.item-metadata
							// 					span.item-metastat
							// 						strong {{item.watchers}}
							// 						| watchers
							// 					span.item-metastat
							// 						strong {{item.forks}}
							md-tab(label="{{list.grupo}}" ng-repeat=" list in list_exercicios" )
								md-content.md-padding
									section
										span(ng-click="insert($index, list);" ng-class="{'item-select animated pulse': exerc.select }" ng-repeat="exerc in list.exercicios")
											| {{exerc.nome}}
		section.ds-serie-edit-content
			section.ds-serie-edit-exercises(sv-root="serieEdit" sv-part="seriesEdit")  
				section.ds-serie-edit-exercise(ng-repeat="person in [4,5,6] track by $index" sv-element="serieEdit")
					section.ds-serie-edit-drag-item(sv-handle="")
						ng-md-icon(icon="open_with" style="fill:black" size="22")
					section.ds-serie-edit-exercise-item
						span {{exercicio.nome}}
						span Supino Reto
					section.ds-serie-edit-rept-item
						span 10 Repts
					section.ds-serie-edit-weight-item
						span 10 kg
			section.ds-serie-edit-sliders
				section.ds-serie-edit-exer-select
					h4 Supino Reto
				section.ds-serie-edit-slider-content
					div(layout="row")
						div(flex="20", layout="", layout-align="center center")
							span.md-body-1 Repetição
						md-slider#blue-slider.md-primary(flex="", ng-model="repeticao", min="1", max="40", aria-label="blue")
						div(flex="10", layout="", layout-align="center center")
							input(type="number", ng-model="repeticao", aria-label="blue", aria-controls="blue-slider")
				section.ds-serie-edit-slider-title
					span Repetições
				section.ds-serie-edit-slider-content
					div(layout="row")
						div(flex="20", layout="", layout-align="center center")
							span.md-body-1 Peso&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						md-slider#blue-slider.md-primary(flex="",ng-disabled="true", ng-model="peso", min="0", max="280", aria-label="blue")
						div(flex="10", layout="", layout-align="center center")
							input(type="number", ng-model="peso", ng-disabled="true", aria-label="blue", aria-controls="blue-slider")
				section.ds-serie-edit-slider-title
					span Quilos
	section.ds-serie-edit-action-bottom
		md-button(class="md-raised md-primary" ng-click="exerciseEdit.edit=false") Salvar

		// p serie editar
		// section(ng-click="edit_serie();")
		// 	p editar serie diretiva
		// 	p {{exerciseEdit.edit}}
