.plan-wrap
	col(12/12,gutter:0)
	box-sizing border-box
	+hd()
		padding-left 2em
		padding-right 2em
	.plan-dashboard
		col(12/12,gutter:0)
		margin-top .7em
		+desktop()
			margin-top 1em
		md-card
			box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.098), 0px 1px 5px 0px rgba(0, 0, 0, 0.084);
			border 1px solid palette('Grey','200')
			md-card-content
				position relative
				+tablet()
					padding-top 7px
					padding-bottom 7px
				.plan-header-options
					position absolute
					right 0
					bottom 0
					margin-right 2%
					margin-bottom 1%
					button.md-button
						span
							color palette('Light Blue', '500') 
						width 89px
						min-width 15px
						min-height 27px
						line-height 27px
						font-size 80%
						margin 0
						+desktop()
							width 115px
							min-width 15px
							min-height 31px
							line-height 31px
							font-size 85%
							margin 0
				.plan-graf
					col(4.5/12,gutter:0)
					box-sizing border-box
					text-align center
					// box-shadow: 0px 1px 1px -2px rgba(0, 0, 0, 0.06), 0px 2px 2px 0px rgba(0, 0, 0, 0.068), 0px 1px 5px 0px rgba(0, 0, 0, 0.064);
					padding 7px
					span
						font-size 65%
						+hd()
							font-size 85%
						+below(800px)
							display none
						vertical-align middle
					.one
						background-color palette('Blue','100')
						width 16 px
						height 16 px
						display inline-block
						+below(800px)
							display none
					.two
						background-color palette('Blue','500')
						width 16 px
						height 16 px
						display inline-block
						+below(800px)
							display none
				.plan-overview
					margin-top 2%
					+desktop()
						margin-top 3%
					col(7.5/12,gutter:0)
					text-align center
					.plan-goal
						col(8/8,gutter:0)
						// margin-top 1em
						h1
							margin 0
						span
							font-size 85%
					.plan-time
						col(8/8,gutter:0)
	.plan-cards
		col(12/12,gutter:0)
		md-card
			position relative
			border 1px solid palette('Grey','200')
			box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.09), 0px 2px 2px 0px rgba(0, 0, 0, 0.098), 0px 1px 5px 0px rgba(0, 0, 0, 0.084);
			div.md-actions
				box-sizing border-box
				padding-bottom 8px
				padding-right .8em
				// background-color palette('Grey','50')
				button.md-button
					margin 0
					width 37%
					min-width 15px
					min-height 33px
					line-height 33px
					font-size 95%
			md-card-content
				padding-top 4px
				min-height 26vh 
				+desktop()
					min-height 33vh 
				.md-subheader
					+tablet()
						display none
					.md-subheader-inner
						 padding 2px 0px 2px 3px
				h4
					text-align center
					margin 0
					color palette('Grey','600')
					ng-md-icon
						svg
							width 6%
							height 6%
							+desktop()
								width 4%
								height 4%
							margin-left 3px
							vertical-align top
							margin-top 7px
							cursor pointer
				md-content
					height:22vh
					+tablet(orientation: portrait)
						height:27vh
					+desktop()
						height:27vh
					text-align center
					ds-training
						span(1/6,.6/5,cycle:3,uncycle:1,gutter:0)
						+below(700px)
							span(1/3,cycle:3,uncycle:1,gutter:0)
						+hd()
							span(1/4,cycle:4,uncycle:1,gutter:0)
		.plan-trainings
			col(6/12,gutter:0)
		.plan-historical
			col(6/12,gutter:0)
