.ds-exercises
	ul
		margin 0
		padding 0
		padding-right .7em
		margin-top .7em
		+desktop()
			padding-left 2em
			padding-right 2em
		font-size 90%
		list-style none
		.exerc-select
			background-color palette('Blue Grey','50')
			color black
			border 1px solid palette('Blue Grey','200')  

		li.ng-enter
			-webkit-animation 0.8s pulse
			-moz-animation 0.8s pulse
			-o-animation 0.8s pulse
			animation 0.8s pulse
			opacity 0
			background-color palette('Blue Grey','50')
			border 1px solid palette('Blue Grey','200')  
			color black
		// li.ng-move
		// 	-webkit-transition:0.5s linear all;
		// 	-moz-transition:0.5s linear all;
		// 	-o-transition:0.5s linear all;
		// 	transition:0.5s linear all;
		// 	opacity:0;
		li.ng-enter.ng-enter-active,
		li.ng-move.ng-move-active
			opacity 1
		.sv-helper
			font-size 120%
			color black
			line-height 2.4em
			+desktop()
				line-height 2.2em
			background-color palette('Grey','100')
			border 1px solid palette('Blue Grey','400')
			opacity 0.9
		.sv-candidate
			opacity 0.5
		li.ng-leave
			-webkit-transition all linear 0.3s
			-moz-transition all linear 0.3s
			-o-transition all linear 0.3s
			transition all linear 0.3s
			position relative
			left 5px
			opacity .2
			// &.ng-leave-active
			// 	opacity 0
			// 	@keyframes zoomOut {
			// 		from { opacity:1; }
			// 		to { opacity:0; }
			// 	}
		li
			// box-shadow: 0 2px 7px rgba(0,0,0,.25)
			col(12/12,gutter:0)
			box-sizing border-box
			text-align center
			line-height 2.3em
			color palette('Grey','800')
			margin-bottom .8em
			border 1px solid palette('Blue Grey','300')
			background-color white
			+desktop()
				line-height 2.1em
				margin-bottom 1em
			// background-color palette('Grey','50')
			// &:hover
			// 	background palette('Blue Grey','50')
			// .volume
			// 	col(3/11,gutter:0)
			// .delete
			// 	col(.5/11,gutter:0)
			// 	margin-left .5em
			// 	ng-md-icon
			// 		svg
			// 			vertical-align middle
			// 			&:hover
			// 				// background palette('Red','50')
			// 				zoom 1.3
			// 			cursor pointer
