.ds-exercise-edit
	col(12/12,gutter:0)
	box-sizing border-box
	// padding 10px
	.ds-exercise-edit-header
		col(12/12,gutter:0)
		background-color palette('Blue Grey','400')
		color white
		line-height 80px
		.ds-exercise-edit-way
			col(6/12,gutter:0)
			box-sizing border-box
			padding-left 3%
			padding-right 12%

			span 
				font-size 120%
				color white
				line-height 30px
				// font-weight bold
		.ds-exercise-edit-series
			col(2/12,gutter:0)
			text-align left
		.ds-exercise-edit-action
			col(4/12,gutter:0)
			text-align right
	.ds-exercise-edit-content
		col(12/12,gutter:0)
