.ds-info
	display inline-block
	box-sizing border-box
	min-width 60px
	min-height 40px
	background-color palette('Blue Grey','50')
	box-shadow: 0 2px 3px rgba(0,0,0,.20)
	border-radius 4%
	padding 6px 6px 4px 6px
	text-align center
	margin 8px
	+tablet()
		zoom .9
	.ds-title
		color palette('Grey','800')
		line-height 20px
		font-size 70%
	.ds-content
		color black
		span 
			display block
			line-height 35px
			font-size 110%
			font-weight bold
			vertical-align middle
