.ds-plan
	.ds-plan-card
		col(12/12,gutter:0)
		box-sizing border-box
		border 1px solid palette('Grey','200')
		box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.09), 0px 2px 2px 0px rgba(0, 0, 0, 0.098), 0px 1px 5px 0px rgba(0, 0, 0, 0.084);
		// padding 7px
		margin-bottom 25px
		.ds-plan-card-content
			p
				padding 0
				margin 0
			.ds-plan-title
				col(8/12,gutter:0)
				box-sizing border-box
				p
					font-size 125%
					padding-left 3%
					padding-top 3%
			.ds-plan-actions
				col(4/12,gutter:0)
				text-align right
			.ds-plan-content
				col(12/12,gutter:0)
				text-align center
				margin-top 1em
				padding-bottom 1em
				// ds-info
				// 	zoom .9
				border-bottom 1px solid palette('Grey','200')
			.ds-plan-footer
				col(12/12,gutter:0)
				padding-left 2%

