.ds-serie
	col(12/12,gutter:0)
	position relative
	margin-top 4px
	margin-bottom 4px
	.ds-serie-view
		col(12/12,gutter:0)
		box-sizing border-box
		background-color white
		.ds-serie-step-content
			col(12/12,gutter:0)
			margin-bottom 8px
			.ds-serie-position-step
				col(1/12,gutter:0)
				box-sizing border-box
				text-align center
				position relative
				top -3px
				color black
			.ds-serie-list
				col(11/12,gutter:0)
				box-sizing border-box
				border 1px solid palette('Blue Grey','300')
				&:hover
					background palette('Grey','50')
				.ds-serie-list-item
					col(11/11,gutter:0)
					box-sizing border-box
					padding 3px
					line-height 20px
					vertical-align middle
					+desktop()
						padding 3px
						line-height 20px
					.ds-serie-exerc
						col(7/11,gutter:0)
						box-sizing border-box
						text-align center
						padding-left 5px
					.ds-serie-repts
						col(2/11,gutter:0)
						text-align center
					.ds-serie-weight
						col(2/11,gutter:0)
						text-align center
	// .ds-serie-edit

